<nav
  class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav navbar-light navbar-shadow"
>
  <div class="navbar-wrapper">
    <div class="navbar-container content" style="height: 45px">
      <div class="navbar-collapse row" id="navbar-mobile">
        

        <ul class="nav navbar-nav float-right">
         
         
          <li class="dropdown dropdown-user nav-item">
            <a
              class="dropdown-toggle nav-link dropdown-user-link"
              style="margin-top: -10px"
            
              data-toggle="dropdown"
            >
              <div
                class="user-nav d-sm-flex d-none"
                style="padding-left: 1190px"
              >
                <span class="user-name text-bold-600">{{userProfi.fullName}}</span
                >
              </div>
              <span
              ><img
                class="round"
                src="assets/images/avatar.webp"
                alt=""
                height="30"
                width="30"
              /></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="row">
  <app-sidenavbar></app-sidenavbar>
  <router-outlet></router-outlet>
</div>
