<p-sidebar [(visible)]="isVisible" (onHide)="notifyClosing()">
  <div *ngFor="let link of links">
    <button
      pButton
      pRipple
      type="button"
      [label]="link.label!"
      [pTooltip]="link.tooltip!"
      [icon]="link.icon!"
      (click)="
        link.routerLink ? lezgo(link.routerLink) : displayWeatherDialog()
      "
      iconPos="left"
      class="p-button-rounded p-button-raised p-button-text p-button-success btn-block w-100"
      [id]="link.id ? link.id : ''"
      [style]="{
        'margin-top': '10px',
        color: '#0948b3' 
      }"
    ></button>
  </div>
</p-sidebar>

<!--Dialog to display weather -->
<p-dialog
  *ngIf="displayWeather"
  [(visible)]="displayWeather"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{
    width: '50vw',
    height: '80vh',
    background: '#0948b3'
  }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="displayWeather = false"
>

  <ng-template pTemplate="footer">
    <p-button
      (click)="displayWeather = false"
      label="Fermer"
      styleClass="p-button-text p-button-success"
      [style]="{ color: '#0948b3' }"
    ></p-button>
  </ng-template>
</p-dialog>
