<div class="login-wrap">
  <div class="login-html">
    <input
      (change)="onChangeTab(1)"
      [checked]="showLoginForm"
      class="sign-in"
      id="tab-1"
      name="tab"
      type="radio"><label class="tab" for="tab-1">Se connecter</label>
    <input
      (change)="onChangeTab(2)"
      class="sign-up"
      id="tab-2"
      name="tab"
      [checked]="showLoginForm === false"
      type="radio"><label class="tab" for="tab-2">S'inscrire</label>
    <div class="login-form">
      <form (ngSubmit)="onSubmitLoginForm()" [formGroup]="loginForm" class="sign-in-htm">
        <div class="group">
          <label class="label">Nom d'utilisateur <span class="erreur">*</span></label>
          <input class="input" formControlName="userName" type="text">
          <div
            *ngIf="getUsername()?.invalid &&
            (getUsername()?.dirty ||getUsername()?.touched)"
            class="erreur">
            le nom d'utilisateur est obligatoire.
          </div>
        </div>
        <div class="group">
          <label class="label" for="pass">Mot de Passe <span class="erreur">*</span></label>
          <input
            class="input"
            formControlName="password"
            type="password">
          <div
            *ngIf="getPassword()?.invalid && (getPassword()?.dirty || getPassword()?.touched)"
            class="erreur">
            le mot de passe est obligatoire.
          </div>
        </div>
        <!--        bad credentials-->
        <!--				<div class="group" *ngIf="">-->
        <!--					<p></p>-->
        <!--				</div>-->
        <div class="group">
          <button [disabled]="!loginForm.valid" class="button" type="submit">Connexion</button>
        </div>
      </form>
      <form (ngSubmit)="onSubmitSignUpForm()" [formGroup]="signupForm" class="sign-up-htm">
        <div class="group">
          <label class="label">Nom d'utilisateur <span class="erreur">*</span></label>
          <input class="input" formControlName="userName" type="text">
          <div
            *ngIf="getSignUpFormUsername()?.invalid && (getSignUpFormUsername()?.dirty || getSignUpFormUsername()?.touched)"
            class="erreur">
            le nom d'utilisateur est obligatoire.
          </div>
        </div>
        <div class="group">
          <label class="label"> Nom & Prénom <span class="erreur">*</span></label>
          <input class="input" formControlName="fullName" type="text">
          <div
            *ngIf="getFullName()?.invalid && (getFullName()?.dirty || getFullName()?.touched)"
            class="erreur">
            le nom d'utilisateur est obligatoire.
          </div>
        </div>
        <div class="group">
          <label class="label">Mot de passe <span class="erreur">*</span></label>
          <input class="input" formControlName="password" type="password">
          <div
            *ngIf="getSignUpFormPassword()?.invalid && (getSignUpFormPassword()?.dirty || getSignUpFormPassword()?.touched)"
            class="erreur">
            Mot de passe de 8 caractéres minimum réquis.
          </div>
        </div>
        <div class="group">
          <label class="label">Confirmer Mot de passe <span class="erreur">*</span></label>
          <input class="input" formControlName="passwordConf" type="password">
          <div
            *ngIf="getPasswordConf()?.invalid && (getPasswordConf()?.dirty || getPasswordConf()?.touched)"
            class="erreur">
            Veuillez confirmer votre mot de passe.
          </div>
        </div>
        <div class="group">
          <label class="label">Adresse E-mail <span class="erreur">*</span></label>
          <input class="input" formControlName="email" id="pass" type="email">
          <div
            *ngIf="getEmail()?.invalid && (getEmail()?.dirty || getEmail()?.touched)"
            class="erreur">
            Veuillez indiquer une adresse e-mail valide..
          </div>
        </div>
        <!--        api error-->
        <!--				<div class="group" *ngIf="">-->
        <!--					<p></p>-->
        <!--				</div>-->
        <div class="group">
          <button [disabled]="signupForm.invalid" class="button" type="submit">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
