@media (max-width: 767px) {
    .the-clients .naccs .menu div {
      text-align: center;
    }
    footer .section-heading h4 {
      color: #2a2a2a;
    }
    footer #search {
      margin-bottom: 45px;
    }
    footer {
      padding-top: 0px;
      text-align: center;
    }
    .footer-widget ul {
      display: block;
      width: 100%;
      float: none;
      text-align: center;
      margin: 0 auto;
    }
    .footer-widget h4 {
      margin-top: 45px;
      margin-bottom: 20px;
    }
    footer #search input {
      border: 1px solid #eee;
      color: #afafaf;
      background-color: #fff;
      border-radius: 23px;
      margin-bottom: 15px;
      padding: 0px 30px;
    }
    footer #search button {
      background-color: #fff;
      color: #4b8ef1;
    }
    footer #search input::placeholder { 
      color: #2a2a2a;
    }
}