<div
  *ngIf="showSkeleton; then skeleton; else carousel"
  [@fadeIn]="carouselState"
></div>

<ng-template #carousel>
  <p-carousel
    [value]="assetImages"
    verticalViewPortHeight="600px"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
    [showNavigators]="false"
  >
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="mb-3">
            <img
              src="{{ product.path }}"
              class="product-image"
              loading="lazy"
              alt="home decor"
              height="100%"
              width="100%"
            />
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</ng-template>

<ng-template #skeleton>
  <p-skeleton height="100%"></p-skeleton>
</ng-template>