<header class="head">
  <section>
    <div class="bottom-header">
      <div class="container">
        <nav class="navbar navbar-expand-lg  mt-3">
          <img alt="" class="logo" routerLink="" src="assets/logo.png">
          <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                  data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 254px;">
            <ul class="navbar-nav" style="margin-top: -13px;">
              <li class="nav-item">
                <div class="btn-group me-3">
                  <div aria-label="Button group with nested dropdown" class="btn-group" ngbDropdown role="group">
                    <span class="btn" ngbDropdownToggle>HEBERGEMENT WEB</span>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <span class="btn" ngbDropdownItem><a href="#" routerLink="/web"><i class="fas fa-server"></i>Hebergement E-commerce</a></span>
                      <span class="btn" ngbDropdownItem><a href="#" routerLink="/web"><i class="fas fa-cloud"></i>Hebergement Basic</a></span>
                      <span class="btn" ngbDropdownItem><a href="#" routerLink="/web"><i
                        class="fab fa-cloudversify"></i> Hebergement Pro</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div class="btn-group me-3">
                  <div aria-label="Button group with nested dropdown" class="btn-group" ngbDropdown role="group">
                    <span class="btn" ngbDropdownToggle>NOM DE DOMAINE</span>
                    <div class="dropdown-menu" ngbDropdownMenu>

                      <span class="btn" ngbDropdownItem><a href="#" routerLink="/search-domains"> <i
                        class="fas fa-copyright instagram-color"></i>Enregistrer un domaine</a></span>
                      <span class="btn" ngbDropdownItem><a href="#" routerLink="/domain"> <i
                        class="fas fa-exchange-alt color-accent"></i> Transferer un domaine</a></span>
                      <span class="btn" ngbDropdownItem><a href="#" routerLink="/search-domains"><i
                        class="fas fa-globe"></i>Verifier un domaine</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li active class="nav-item">
                <div class="btn-group me-3">
                  <div aria-label="Button group with nested dropdown" class="btn-group" ngbDropdown role="group">
                    <span class="btn" ngbDropdownToggle>MAIL PRO</span>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <span class="btn" ngbDropdownItem><a href="#" routerLink="/mail"><i
                        class="fas fa-lock icon-size-lg color-primary"></i>EMAIL Entreprise Suite</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li aria-haspopup="true" class="espace-client" style="float:right;">
                <a class="btn topbn" [href] = "dashboardLink" style="  width: 200px;">
                  <i class="fas fa-user-circle"></i>
                  <span *ngIf="!isAuthenticate"> Espace client</span>
                  <span *ngIf="isAuthenticate"> Voir Compte </span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </section>
</header>
