<header class="head">
  <section>
    <div class= "bottom-header">
      <div class= "container">
        <nav class="navbar navbar-expand-lg  mt-3">
          <img routerLink="/home" class="logo"  src="assets/logo.png" alt="">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 254px;">
            <ul class="navbar-nav" style="margin-top: -13px;">

              <li class="nav-item">
                <div class="btn-group me-3">
                  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <span class="btn" ngbDropdownToggle>Hébergement Web</span>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <span class="btn" ngbDropdownItem><a href="#">  <i class="fas fa-server"></i>Hebergement E-commerce</a></span>
                      <span class="btn" ngbDropdownItem><a href="#"><i class="wsmenu-arrow"></i>Hebergement Basic</a></span>
                      <span class="btn" ngbDropdownItem><a href="#"><i class="fab fa-cloudversify"></i> Hebergement Pro</a></span>
                      <span class="btn" ngbDropdownItem><a href="#"><i class="fas fa-envelope "></i>EMail Entreprise Suite</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div class="btn-group me-3">
                  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <span class="btn" ngbDropdownToggle>Domaines</span>
                    <div class="dropdown-menu" ngbDropdownMenu>

                      <span class="btn" ngbDropdownItem><a href="#"> <i class="fas fa-copyright instagram-color"></i>Enregistrer un domaine</a></span>
                      <span class="btn" ngbDropdownItem><a href="#"> <i class="fas fa-exchange-alt color-accent"></i> Transferer un domaine</a></span>
                      <span class="btn" ngbDropdownItem><a href="#"><i class="fas fa-globe"></i>Verifier un domaine</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div class="btn-group me-3">
                  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <span class="btn" ngbDropdownToggle>Serveurs</span>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <span class="btn" ngbDropdownItem><a href="#"><i class="fab fa-linux"></i> Cloud VPS Linux</a></span>
                      <span class="btn" ngbDropdownItem><a href="#"><i class="fab fa-windows"></i>Cloud VPS Windows</a></span>
                      <span class="btn" ngbDropdownItem><a href="#"> <i class="fas fa-database"></i>Serveurs Dédiés</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item" active>
                <div class="btn-group me-3">
                  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <span class="btn" ngbDropdownToggle>Securité</span>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <span class="btn" ngbDropdownItem><a href="#"><i class="fas fa-lock icon-size-lg color-primary"></i>Certificat SSL</a></span>
                    </div>
                  </div>
                </div>
              </li>
              <li aria-haspopup="true" class="espace-client" style="float:right;">

                <a class="btn topbn" href="/account" style="  width: 150px;"><i class="fas fa-user-circle"></i> Espace Client</a>

              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </section>
</header>
