<div class="row fixed-bottom fixed-top">
  <div class="col-md-7 col-lg-7">
    <img src="assets/cloud2.png">
  </div>
  <div class="col-md-5 col-lg-5" fxLayoutAlign="center none">
    <div class="login-container">
      <div class="d-flex align-items-center mt-5 mb-5 pb-1" fxLayoutAlign="center center">
    <span class="h1 fw-bold mb-0" style="color: #0050d5">
     S' inscire
    </span>
      </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
    <div class="row">
      <div class="col-xl-6 mb-5 ">
      <span class="p-float-label">
        <input
          class="form-control form-control-lg"
          formControlName="login"
          id="emailInput"
          pInputText
          type="text"
        />
        <label> Nom d'utilisateur</label>
      </span>
        <div *ngIf="controls['login']?.invalid && (controls['login']?.dirty || controls['login']?.touched)">
          <p-message
            *ngIf="(controls['login']?.errors)!['required']"
            class="not-first-message"
            severity="error"
            text="Nom d'utilisateur requis"
          >
          </p-message>
        </div>
      </div>
      <div class="col-xl-6 mb-5">
      <span class="p-float-label">
        <input
          class="form-control form-control-lg"
          formControlName="name"
          pInputText
          type="text"
        />
        <label>Nom et Prénom</label>
      </span>

        <!--Error messages-->
        <div
          *ngIf="controls['name']?.invalid && (controls['name']?.dirty || controls['name']?.touched)"
        >
          <p-message
            *ngIf="(controls['name']?.errors)!['required']"
            class="not-first-message"
            severity="error"
            text="Le nom et le Prénom sont réquis"
          >
          </p-message>
        </div>
      </div>
    </div>
  <div class="row">
  <div class="col-xl-6 mb-5">
    <span class="p-float-label">
      <input
        class="form-control form-control-lg"
        formControlName="phone"
        pInputText
        type="tel"
      />
      <label>Phone</label>
    </span>

      <div *ngIf="controls['phone']?.invalid && (controls['phone']?.dirty || controls['phone']?.touched)">
        <p-message
          *ngIf="(controls['phone']?.errors)!['required']"
          class="not-first-message"
          severity="error"
          text="Le mot de passe de Confirmation est réquise"
        >
        </p-message>
      </div>
    </div>
    <div class="col-xl-6 mb-5">
      <span class="p-float-label">
        <input
          class="form-control form-control-lg"
          formControlName="email"
          id="passwordInput"
          pInputText
          type="email"
        />
        <label>Email</label>
      </span>

        <div
          *ngIf="controls['email']?.invalid && (controls['email']?.dirty || controls['email']?.touched)"
        >
          <p-message
            *ngIf="(controls['email']?.errors)!['required']"
            class="not-first-message"
            severity="error"
            text="L'e-mail est réquise"
          >
          </p-message>
        </div>
      </div>
</div>
    <div class="row">
      <div class="col-xl-6 mb-5">
      <span class="p-float-label">
        <input
          class="form-control form-control-lg"
          formControlName="country"
          pInputText
          type="text"
        />
        <label> Pays</label>
      </span>
      </div>
      <div class="col-xl-6 mb-5">
      <span class="p-float-label">
        <input
          class="form-control form-control-lg"
          formControlName="city"
          pInputText
          type="text"
        />
        <label>Ville</label>
      </span>
      </div>
     
    </div>
<div class="row">
  <div class="col-xl-6 mb-5">
    <span class="p-float-label">
      <input
        class="form-control form-control-lg"
        formControlName="address"
        pInputText
        type="text"
      />
      <label>Adresse</label>
    </span>
    </div>
    <div class="col-xl-6 mb-5">
    <span class="p-float-label">
      <input
        class="form-control form-control-lg"
        formControlName="pcode"
        pInputText
        type="text"
      />
      <label>Code postal</label>
    </span>
    </div>
</div>
    <div class="row">
      <div class="col-xl-6 mb-5">
        <span class="p-float-label">
        <input
          class="form-control form-control-lg"
          formControlName="password"
          pInputText
          type="password"
        />
        <label>Mot de passe</label>
      </span>
        <div *ngIf="controls['password']?.invalid && (controls['password']?.dirty || controls['password']?.touched)">
          <p-message
            *ngIf="(controls['password']?.errors)!['required']"
            class="not-first-message"
            severity="error"
            text="Le mot de passe est réquis"
          >
          </p-message>
        </div>
      </div>
      <div class="col-xl-6 mb-5">
        <span class="p-float-label">
        <input
          class="form-control form-control-lg"
          formControlName="passwordConf"
          pInputText
          type="password"
        />
        <label>Confirmation de mot de passe</label>
      </span>

        <div
          *ngIf="controls['passwordConf']?.invalid && (controls['passwordConf']?.dirty || controls['passwordConf']?.touched)"
        >
          <p-message
            *ngIf="(controls['passwordConf']?.errors)!['required']"
            class="not-first-message"
            severity="error"
            text=" la Confirmation est réquise"
          >
          </p-message>
        </div>
      </div>
    </div>

    <button
      [disabled]="signupForm.invalid"
      [ngClass]="{ 'valid-form-color': signupForm.valid, 'invalid-form-color': signupForm.invalid }"
      class="p-button-raised p-button-rounded p-button-success p-button-outlined btn-block w-100"
      icon="pi pi-sign-in"
      id="goButton"
      label="S' inscrire"
      pButton
      pRipple
      type="submit"
    ></button>
    <button
    (click)="navigateToHome()"
    aria-label="browse NGHost's content"
    class="p-button-raised p-button-rounded p-button-outlined p-button-secondary btn-block w-100"
    icon="pi pi-book"
    label="Explorer notre catalogue"
    pButton
    pRipple
    type="button"
    ></button>
  </form>
  <!-- Choix de catégorie pour l'inscription -->
 
</div>

</div>

