.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.sidebar.sidebar-secondary .panel-sidebar>.panel-footer {
    background: #ffffff;
}
.panel-sidebar>.panel-footer {
    background: #0b4ec3;
}
.panel-sidebar>.panel-footer {
    color: #333;
    background-color: #f5f5f5;
    border-top: 0;
}
.list-group+.panel-footer {
    border-top-width: 0;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.btn {
    overflow: hidden;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.client-home-panels .custom-domain-register {
    overflow: hidden;
    position: relative;
    background: #0948b3 !important;
    border: none;
    padding: 25px 5px;
}
.custom-domain-register form .input-group {
    display: flow-root;
    flex-wrap: wrap;
    margin: 20px;
}
.custom-domain-register form .input-group .form-control{
    border-radius: 4px;
}
.custom-domain-register form .input-group-btn {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row-reverse;
}
.custom-domain-register form .input-group-btn .btn{
    flex: 1;
    height: 48px;
    padding: 8px 24px;
    font-size: 14px;
    line-height: 28px;
    border-radius: 4px;
    color: #0948b3;
    background-color: #e3effc;
    border-color: #e3effc;
    font-weight: 500;
}
.custom-domain-register form .input-group-btn .btn:focus{
    outline: none;
    border: 0;
}
.custom-domain-register form .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
    border-radius: 4px;
    width: 100%;
}
.custom-domain-register form .input-group-btn .btn-success{
    margin-left: 10px;
    color: #ffffff;
    background-color: #064992;
    border-color: #064992;
}