<section id="main-body">
  <div class="container">
    <div class="row">
      <div class="col-md-3 pull-md-left sidebar">
        <div
          menuitemname="Client Details"
          class="panel panel-sidebar panel-sidebar"
        >
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fas fa-user"></i>&nbsp; Your Info
              <i class="fas fa-chevron-up panel-minimise pull-right"></i>
            </h3>
          </div>
          <div class="panel-body">
            <strong>ThemeTags</strong><br /><em>John Hex</em><br />121 King
            Street, Melbourne<br />Melbourne, Alaska, 3000<br />United Arab
            Emirates
          </div>
          <div class="panel-footer clearfix">
            <a
              href=""
              class="btn btn-success btn-sm btn-block"
            >
              <i class="fas fa-pencil-alt"></i> Update
            </a>
          </div>
        </div>
            <!-- /.main-content -->
        <div
          menuitemname="Client Contacts"
          class="panel panel-sidebar panel-sidebar"
        >
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="far fa-folder"></i>&nbsp; Contacts
              <i class="fas fa-chevron-up panel-minimise pull-right"></i>
            </h3>
          </div>
          <div class="list-group">
            <div
              menuitemname="No Contacts"
              class="list-group-item"
              id="Secondary_Sidebar-Client_Contacts-No_Contacts"
            >
              No Contacts Found
            </div>
          </div>
          <div class="panel-footer clearfix">
            <a
              href=""
              class="btn btn-default btn-sm btn-block"
            >
              <i class="fas fa-plus"></i> New Contact...
            </a>
          </div>
        </div>
        <div
          menuitemname="Client Shortcuts"
          class="panel panel-sidebar panel-sidebar"
        >
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fas fa-bookmark"></i>&nbsp; Shortcuts
              <i class="fas fa-chevron-up panel-minimise pull-right"></i>
            </h3>
          </div>
          <div class="list-group">
            <a
              menuitemname="Order New Services"
              href=""
              class="list-group-item"
              id="Secondary_Sidebar-Client_Shortcuts-Order_New_Services"
            >
              <i class="fas fa-shopping-cart fa-fw"></i>&nbsp; Order New
              Services
            </a>
            <a
              menuitemname="Register New Domain"
              href=""
              class="list-group-item"
              id="Secondary_Sidebar-Client_Shortcuts-Register_New_Domain"
            >
              <i class="fas fa-globe fa-fw"></i>&nbsp; Register a New Domain
            </a>
            <a
              menuitemname="Logout"
              href=""
              class="list-group-item"
              id="Secondary_Sidebar-Client_Shortcuts-Logout"
            >
              <i class="fas fa-arrow-left fa-fw"></i>&nbsp; Logout
            </a>
          </div>
        </div>
      
      </div>
    
      <!-- Container for main page display content -->
      <div class="col-md-9 pull-md-right main-content">
        <div class="tiles clearfix client-dashboard-wrap">
          <div class="row">
            <div
              class="col-sm-3 col-xs-6"
                        >
              <a
                href="#"
                class="client-dashboard-single"
              >
                <i class="fas fa-cube"></i>
                <div class="icon-title-wrap">
                  <h2>3</h2>
                  <h5>Services</h5>
                </div>
              </a>
            </div>
            <div
              class="col-sm-3 col-xs-6"
            >
              <a
                href="#"
                class="client-dashboard-single"
              >
                <i class="fas fa-globe"></i>
                <div class="icon-title-wrap">
                  <h2>1</h2>
                  <h5>Domains</h5>
                </div>
              </a>
            </div>
            <div
              class="col-sm-3 col-xs-6"
             
            >
              <a href="#" class="client-dashboard-single">
                <i class="fas fa-comments"></i>
                <div class="icon-title-wrap">
                  <h2>0</h2>
                  <h5>Tickets</h5>
                </div>
              </a>
            </div>
            <div
              class="col-sm-3 col-xs-6"
              onclick="window.location='clientarea.php?action=invoices'"
            >
              <a
                href="#"
                class="client-dashboard-single"
              >
                <i class="fas fa-credit-card"></i>
                <div class="icon-title-wrap">
                  <h2>39</h2>
                  <h5>Invoices</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="client-home-panels">
          <div class="row">
            <div class="col-sm-6">
              <div
                menuitemname="Recent Support Tickets"
                class="panel custom-panel-box"
              >
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <div class="pull-right">
                      <a
                        href="#"
                        data-toggle="tooltip"
                        data-title="Open New Ticket"
                        data-original-title="Open New Ticket"
                        title=""
                      >
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>
                    <i class="fas fa-comments"></i>&nbsp; Recent Support Tickets
                  </h3>
                </div>
                <div class="list-group">
                  <a
                    menuitemname="0"
                    href="#"
                    class="list-group-item"
                    id="ClientAreaHomePagePanels-Recent_Support_Tickets-0"
                  >
                    #TBY-139697 - XXXXX
                    <label class="label" style="background-color: #888888"
                      >Closed</label
                    ><br /><small
                      >Last Updated: Monday, March 28th, 2022 (10:55)</small
                    >
                  </a>
                  <a
                    menuitemname="1"
                    href="#"
                    class="list-group-item"
                    id="ClientAreaHomePagePanels-Recent_Support_Tickets-1"
                  >
                    #LDK-622836 - demo
                    <label class="label" style="background-color: #888888"
                      >Closed</label
                    ><br /><small
                      >Last Updated: Thursday, February 24th, 2022
                      (01:07)</small
                    >
                  </a>
                  <a
                    menuitemname="2"
                    href="#"
                    class="list-group-item"
                    id="ClientAreaHomePagePanels-Recent_Support_Tickets-2"
                  >
                    #GMZ-950329 - Nullam nulla eros ultricies sit
                    <label class="label" style="background-color: #888888"
                      >Closed</label
                    ><br /><small
                      >Last Updated: Monday, January 10th, 2022 (05:39)</small
                    >
                  </a>
                  <a
                    menuitemname="3"
                    href="#"
                    class="list-group-item"
                    id="ClientAreaHomePagePanels-Recent_Support_Tickets-3"
                  >
                    #YNT-507171 - How Can I Upgrade or Downgrade Packages?
                    <label class="label" style="background-color: #888888"
                      >Closed</label
                    ><br /><small
                      >Last Updated: Wednesday, December 29th, 2021
                      (05:52)</small
                    >
                  </a>
                  <a
                    menuitemname="4"
                    href="#"
                    class="list-group-item"
                    id="ClientAreaHomePagePanels-Recent_Support_Tickets-4"
                  >
                    #XPX-394859 - How Can I Upgrade or Downgrade Packages?
                    <label class="label" style="background-color: #888888"
                      >Closed</label
                    ><br /><small
                      >Last Updated: Wednesday, December 29th, 2021
                      (05:49)</small
                    >
                  </a>
                </div>
                <div class="custom-panel-footer"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div
                menuitemname="Active Products/Services"
                class="panel custom-panel-box"
              >
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <div class="pull-right">
                      <a
                        href="clientarea.php?action=services"
                        data-toggle="tooltip"
                        data-title="View All"
                        data-original-title="View All"
                        title=""
                      >
                        <i class="fas fa-eye"></i>
                      </a>
                    </div>
                    <i class="fas fa-cube"></i>&nbsp; Your Active
                    Products/Services
                  </h3>
                </div>
                <div class="list-group">
                  <a
                    menuitemname="0"
                    href="/clientarea.php?action=productdetails&amp;id=9"
                    class="list-group-item"
                    id="ClientAreaHomePagePanels-Active_Products_Services-0"
                  >
                    Weebly Website Builder - Free<span
                      class="label pull-right float-right label-success"
                      >Active</span
                    ><br /><span class="text-domain">asdasdadasdas.cc</span>
                  </a>
                  <a
                    menuitemname="1"
                    href="/clientarea.php?action=productdetails&amp;id=3"
                    class="list-group-item"
                    id="ClientAreaHomePagePanels-Active_Products_Services-1"
                  >
                    Web Hosting - Ultimate<span
                      class="label pull-right float-right label-success"
                      >Active</span
                    ><br /><span class="text-domain">themetags.info</span>
                  </a>
                  <a
                    menuitemname="2"
                    href="/clientarea.php?action=productdetails&amp;id=1"
                    class="list-group-item"
                    id="ClientAreaHomePagePanels-Active_Products_Services-2"
                  >
                    Web Hosting - Premium<span
                      class="label pull-right float-right label-success"
                      >Active</span
                    ><br /><span class="text-domain">themetags.org</span>
                  </a>
                </div>
                <div class="custom-panel-footer"></div>
              </div>

              <div
                menuitemname="Register a New Domain"
                class="panel custom-panel-box custom-domain-register"
              >
                <h3 class="panel-title text-center text-white">
                  Register a New Domain
                </h3>

                <div class="panel-body">
                  <form >
                    <input
                      type="hidden"
                      name="token"
                      value="bd286f8b75866e6f5de4fc067c602701cddd4387"
                    />
                    <div class="input-group margin-10 m-0 px-2 pb-2">
                      <input
                        type="text"
                        name="domain"
                        class="form-control"
                        placeholder="yourdomain.com"
                      />
                      <div class="input-group-btn input-group-append">
                        <input
                          type="submit"
                          value="Register"
                          class="btn btn-success"
                        />
                        <input
                          type="submit"
                          name="transfer"
                          value="Transfer"
                          class="btn btn-default"
                        />
                      </div>
                    </div>
                  </form>
                </div>
                <script>
                  if (
                    $(".custom-domain-register input[name='domain']").length > 0
                  ) {
                    $(".custom-domain-register input[name='domain']").attr(
                      "placeholder",
                      "yourdomain.com"
                    );
                  }
                </script>
                <div class="custom-panel-footer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
