.primary-bg {
  background: #0948b3 !important;
  margin-top: -10px;
  height: 540px;
}
.primary-bg1 {
  background: #0948b3 !important;
  margin-top: -10px;
  height: 215px;
  padding: 9px;
  margin-top: 23px;
}


.hero-slider-content h1 {
  font-weight: 600;
}
.gray-light-bg {
  background: #fafafa !important;
}
.border {
  border: 1px solid rgba(93, 118, 174, 0.15) !important;
}
/* line 141, src/assets/scss/components/_components.buttons.scss */
.btn-brand-01 {
  background-color: #0948b3;;
  border-color: #0948b3;
  color: #fff;

}

/* line 17, node_modules/bootstrap/scss/mixins/_hover.scss */
.btn-brand-01:hover, .btn-brand-01:focus {
  background-color: #0948b3;
  border-color: #0948b3;
  color: #fff;
}

/* line 151, src/assets/scss/components/_components.buttons.scss */
.btn-brand-01.btn-transparent {
  background-color: rgba(9, 72, 179, 0.6);
  border-color: transparent;
  color: #fff;
}

/* line 17, node_modules/bootstrap/scss/mixins/_hover.scss */
.btn-brand-01.btn-transparent:hover, .btn-brand-01.btn-transparent:focus {
  background-color: rgba(9, 72, 179, 0.9);
}


.domain-search-wrap {
  padding: 40px;
  border-radius: 20px;
  margin-top: -100px;
}


.domain-search-form {
  width: calc(100% - 10%);
  margin: 0 auto;
  position: relative;
  height: calc(2.15em + 0.7rem);
  z-index: 9;
}

.domain-search-form input:not([type=submit]) {
  width: 55%;
  height: 100%;
  border: none;
  padding-top: 10px;
  border-bottom: 2px solid #0948b3;
}


.domain-search-form .select-group {
  position: absolute;
  right: 10px;
  height: 100%;
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
}


.select-group select.form-control {
  border: none;
  border-bottom: 2px solid #0948b3;
  width: calc(100% - 35%);
  height: inherit;
  padding: 5px;
}


.select-group button[type=submit] {
  width: 100%;
  margin-left: 5px;
}

.domain-search-list {
  position: relative;
  display: block;
  margin-right: 188px;
}

.domain-search-list li:not(:last-child) {
  margin-right: 0 !important;
}

.domain-search-list li a {
  display: inline-block;
  padding: 0 6px;
  text-align: center;
  color: inherit;
  img{
    width: 120px;
  }
}
h4:hover{
  color: white;
}

.domain-search-list li a span {
  font-size: 15px;
  line-height: 15px;
  display: block;
  opacity: 0.7;
}

@media (min-width: 320px) and (max-width: 768px) {

  .domain-search-wrap {
    padding: 20px;
    border-radius: 10px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {

  .domain-search-form {
    width: 100%;
    height: auto;
  }

  .select-group select.form-control {
    height: calc(2.15em + 0.7rem);
  }

  .domain-search-form input:not([type=submit]), .domain-search-form .select-group {
    width: 100%;
    height: calc(2.15em + 0.7rem);
  }

  .domain-search-form .select-group {
    position: relative;
    padding-top: 15px;
    right: auto;
  }

  .domain-list-wrap {
    display: none;
  }
}

.faq-wrap .card .card-body {
  background: #fafafa;
  border-radius: 0 0 4px 4px;
}

.support:hover{
  color: orange;
}



// /*
// ---------------------------------------------
// pricing
// ---------------------------------------------
// */

// .pricing-tables {
//   padding-top: 130px;
// }

// .pricing-tables  .section-heading {
//   text-align: center;
//   margin-bottom: 80px;
// }

// .pricing-tables  .section-heading p {
//   margin-top: 10px;
//   margin-left: 18%;
//   margin-right: 18%;
// }

// .pricing-item-regular {
//   margin-top: 30px;
//   box-shadow: 0px 0px 15px rgba(0,0,0,0.07);
//   border-radius: 50px;
//   padding: 90px 30px;
//   text-align: center;
//   position: relative;
//   z-index: 1;
//   overflow: hidden;
// }

// .pricing-item-regular:before {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 0;
//   content: '';
//   width: 274px;
//   height: 221px;
// }

// .pricing-item-regular:after {
//   position: absolute;
//   bottom: 0;
//   right: 0;

//   z-index: 0;
//   content: '';
//   width: 370px;
//   height: 171px;
// }

// .pricing-item-regular span.price {
//   font-size: 40px;
//   color: #fff;
//   position: absolute;
//   font-weight: 700;
//   z-index: 1;
//   left: 30px;
//   top: 30px;
// }

// .pricing-item-regular h4 {
//   font-size: 20px;
//   font-weight: 700;
//   margin-bottom: 30px;
// }

// .pricing-item-regular .icon img {
//   width: 120px;
//   height: 106px;
//   margin-bottom: 30px;
// }

// .pricing-item-regular ul li {
//   color: #0948b3;
//   font-size: 15px;
//   margin-bottom: 15px;
// }

// .pricing-item-regular ul li:last-child {
//   margin-bottom: 0px;
// }

// .pricing-item-regular ul li.non-function {
//   color: #afafaf;
//   text-decoration: line-through;
// }

// .pricing-item-regular .border-button{
//   position: relative;
//   z-index: 1;
//   margin-top: 40px;
// }

// .pricing-item-pro {
//   box-shadow: 0px 0px 15px rgba(0,0,0,0.07);
//   border-radius: 50px;
//   padding: 120px 30px;
//   text-align: center;
//   position: relative;
//   z-index: 1;
//   overflow: hidden;
// }

// .pricing-item-pro:before {
//   position: absolute;
//   top: 0;
//   left: 0;

//   z-index: 0;
//   content: '';
//   width: 281px;
//   height: 251px;
// }

// .pricing-item-pro:after {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   background-repeat: no-repeat;
//   background-size: cover;

//   z-index: 0;
//   content: '';
//   width: 100%;
//   height: 201px;
// }

// .pricing-item-pro span.price {
//   font-size: 40px;
//   color: #fff;
//   position: absolute;
//   font-weight: 700;
//   z-index: 1;
//   left: 30px;
//   top: 30px;
// }

// .pricing-item-pro h4 {
//   font-size: 20px;
//   font-weight: 700;
//   margin-bottom: 30px;
// }

// .pricing-item-pro .icon img {
//   width: 120px;
//   height: 106px;
//   margin-bottom: 30px;
// }

// .pricing-item-pro ul li {
//   color: #0948b3;
//   font-size: 15px;
//   margin-bottom: 15px;
// }

// .pricing-item-pro ul li:last-child {
//   margin-bottom: 0px;
// }

// .pricing-item-pro ul li.non-function {
//   color: #afafaf;
//   text-decoration: line-through;
// }

// .pricing-item-pro .border-button {
//   position: relative;
//   z-index: 1;
//   margin-top: 40px;
// }

// h3{
//   color: #7c8088;
//   margin: -5px;
//   strong{
//       margin-right: 5px;
//   }
// }
.hero-slider-content.text-white.py-5{
  margin-top: 150px;
}



a {
  text-decoration: none;
}

h1{
  text-align: center;
  margin-top: -80Px;
  margin-bottom: 35px;
  font-size: 35px;
  font-weight: bold;
}
h2{
  margin-top: auto;

}
.bg-grey2 {
  background: #F1F3F2;
}

.hosting-plans {
  padding: 37px 0;
}


.hosting-plans h2 {
  font-weight: bold;
  color: #2d2d2d;
  margin-bottom: 27px;
}

.text-center {
  text-align: center;
}
.h2, h2 {
  font-size: 30px;
}
.faq-content, .marketplace-content, .client-area-content {
  padding-top: 27px;
  padding-bottom: 47px;
}
.marketplace-content h2 {
  color: #2d2d2d;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.price-header {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #fff;
  padding: 23px 0px;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
}
.bg-ooredoo {
  background: #0948b3!important;
}
h5{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.price-block {
  position: relative;
  width: 100%;
  background: #fff;
  text-align: center;
}
.price-num {
  position: relative;
  width: 100%;
}
.price-header h5 {
  font-weight: bold;
  font-size: 27px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}


.hosting-plans p {
  padding-bottom: 47px;
}

.price-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
.whmpress {
  color: #333;
  max-width: 100%;
  font-size: 16px;
  line-height: 1.4;
  padding-top: 10px;
  padding-bottom: 10px;
}
.price-block ul li {
  font-size: 14px;
}

.price-block ul li {
  line-height: 16px;
  font-weight: 300;
}
.price-block ul li {
  font-size: 13px;
  color: #9e9e9e;
  border-bottom: 1px solid #f4f4f4;
  padding: 23px 0px;
}
mail-pricing .price-num span {
  font-size: 37px;
}

.price-num span {
  font-size: 30px;
  font-weight: 200;
  position: relative;
  float: none;
  display: block;
  line-height: 48px;
  padding-bottom: 20px;
}
.price-num a {
  margin-bottom: 40px;
}
.btn-ooredoo-green {
  background: #0948b3;
  color: #fff;
}
a.button-order {
  font-weight: 300;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 20px 30px;
  line-height: 12px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 2px 2px 3px rgb(104 104 104 / 20%);
}
.hosting-plans h2 {
  font-weight: bold;
  color: #2d2d2d;
  margin-bottom: 27px;
}
.text-center {
  text-align: center;
}
p {
  color: black;
}
p {
  margin: 0 0 10px;
}

.b-radius-ooredoo {
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}