<div class="mb-1">
  <app-header></app-header>
</div>
<section class="ptb-100 overflow-hidden primary-bg">
  <div class="container">
    <div
      class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center"
    >
      <div class="col-md-12 col-lg-6">
        <div class="hero-slider-content text-white py-5">
          
          <h2 class="text-white" style="margin-top: -270px;">
            Domaine et hébergement illimités &amp; sur une seule plate-forme
          </h2>
            <h2 class="text-white" tyle="margin-top: -270px;">Nous hébergeons <strong>vos idées !</strong></h2>
            <div class="headline">
              <span class="mb-0">
                <i class="fas fa-bell rounded-circle mr-2"></i>
                <span class="font-weight-bold">30% de réduction </span> sur le
                premier achat annuel
              </span>
            </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6">
        <div class="img-wrap">
          <img src="assets/hero-home.svg" alt="hosting" class="img-fluid" />
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="position-relative zindex-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-8 col-12">
        <div class="domain-search-wrap border gray-light-bg">
          <h4 class="text-center">Vous cherchez un nom de domaine?</h4>
          <form class="domain-search-form my-4">
            <input
              type="text"
              name="domain"
              id="domain"
              class="form-control"
              placeholder="votrenondedomaine.com"
            />
            <div class="select-group">
              <select name="domainType" class="form-control">
                <option value="com" selected>.com</option>
                <option value="net">.net</option>
                <option value="io">.tn</option>
                <option value="info">.info</option>
                <option value="store">.online</option>
                <option value="store">.org</option>
              </select>
              <button type="submit" class="btn btn-brand-01">
                <i class="fas fa-search pr-1"></i> Search
              </button>
            </div>
          </form>
          <div class="domain-list-wrap text-center">
            <ul class="list-inline domain-search-list">
              <li class="list-inline-item bg-white border rounded">
                <a href="#"
                  ><img
                    src="assets/com.png"
                    alt="com"
                    width="70"
                    class="img-fluid"
                  />
                  <span>27.00DT</span></a
                >
              </li>
              <li class="list-inline-item bg-white border rounded">
                <a href="#"
                  ><img
                    src="assets/net.png"
                    alt="com"
                    width="70"
                    class="img-fluid"
                  />
                  <span>37.00DT</span></a
                >
              </li>
              <li class="list-inline-item bg-white border rounded">
                <a href="#"
                  ><img
                    src="assets/org.png"
                    alt="com"
                    width="70"
                    class="img-fluid"
                  />
                  <span>34.99DT</span></a
                >
              </li>
              <li class="list-inline-item bg-white border rounded">
                <a href="#"
                  ><img
                    src="assets/reserver-domaine-tn-.png"
                    alt="com"
                    width="70"
                    class="img-fluid"
                  />
                  <span>12.00DT</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="mt-5"></div>


<section class="hosting-plans bg-grey2">
  <div class="container">
    <h2 class="text-center">Hébergez votre Site WEB en toute sérénité</h2>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p class="text-center" style="margin-right: -230px;" >
          Choisissez le forfait le mieux adapté à votre activité
        </p>
      </div>
    </div>
    <div class="row price">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="price-block b-shadow b-radius b-radius-ooredoo">
          <div class="price-header bg-ooredoo b-radius-ooredoo">
            <h5><div>Basic</div></h5>
            Conçu pour les sites de taille moyenne <br />
            <br />
          </div>
          <ul>
            <div class="whmpress whmpress_description">
              <li>
                <span class="fa fa-check"></span>
                <strong>Nom de domaine national :</strong> Gratuit
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Espace Disque :</strong> 100 Go
              </li>
              <li>
                <span class="fa fa-check"></span> <strong>Email :</strong> 10
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Bases de données  :</strong> 1
              </li>
              <li>
                <span class="fa fa-check"></span> <strong>SSL :</strong> Non
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Bande passante :</strong> Illimité
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Assistance :</strong> 24/7
              </li>
            </div>
          </ul>
          <div class="price-num">
            <span>3.900 <small>DT</small> <small> HT/mois</small></span>
            <a routerLink="/domain"
              class="btn button-order btn-ooredoo-green"
              >Commander</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="price-block b-shadow b-radius b-radius-ooredoo">
          <div class="price-header bg-ooredoo b-radius-ooredoo">
            <h5><div>Advanced</div></h5>
            Sécurité renforcée pour des sites professionnels <br />
            <br />
          </div>
          <ul>
            <div class="whmpress whmpress_description">
              <li>
                <span class="fa fa-check"></span>
                <strong>Nom de domaine national :</strong> Gratuit
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Espace Disque :</strong> 200 Go
              </li>
              <li>
                <span class="fa fa-check"></span> <strong>Email :</strong> 100
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Bases de données  :</strong> 3
              </li>
              <li>
                <span class="fa fa-check"></span> <strong>SSL :</strong> Oui
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Bande passante :</strong> Illimité
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Assistance :</strong> 24/7
              </li>
            </div>
          </ul>
          <div class="price-num">
            <span>9.900 <small>DT</small> <small> HT/mois</small></span>
            <a routerLink="/domain"
              class="btn button-order btn-ooredoo-green"
              >Commander</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="price-block b-shadow b-radius b-radius-ooredoo">
          <div class="price-header bg-ooredoo b-radius-ooredoo">
            <h5><div>Pro</div></h5>
            Performance et sécurité garantie pour les sites à forte affluence et
            au contenu dynamique
          </div>
          <ul>
            <div class="whmpress whmpress_description">
              <li>
                <span class="fa fa-check"></span>
                <strong>Nom de domaine national :</strong> Gratuit
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Espace Disque :</strong> Illimité
              </li>
              <li>
                <span class="fa fa-check"></span> <strong>Email :</strong> 1000
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Bases de données  :</strong> 5
              </li>
              <li>
                <span class="fa fa-check"></span> <strong>SSL :</strong> Oui
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Bande passante :</strong> Illimité
              </li>
              <li>
                <span class="fa fa-check"></span>
                <strong>Assistance :</strong> 24/7
              </li>
            </div>
          </ul>
          <div class="price-num">
            <span>19.900 <small>DT</small> <small> HT/mois</small></span>
            <a routerLink="/domain"
              class="btn button-order btn-ooredoo-green"
              >Commander</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix margin37"></div>
</section>

<section class="promo-section pt-100">
  <h1>Quatre bonne raison de venir vers nous</h1>
  <div class="container" style="margin-bottom: -160px;">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 mb-md-4 mb-lg-0">
        <a id="btnBuyADomain" routerLink="/domain">
          <div class="single-promo-card single-promo-hover text-center">
            <div class="promo-body">
              <div class="promo-icon">
                <span class="fas fa-globe-americas color-primary"></span>
              </div>
              <div class="promo-info">
                <p>ENREGISTRER UN DOMAINE</p>
                <p>
                  Gérez votre nom de domaine depuis l’interface web de votre
                  espace client.
                  <br />
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-md-4 mb-lg-0">
        <a id="btnOrderHosting" href="#" routerLink="/web">
          <div class="single-promo-card single-promo-hover text-center">
            <div class="promo-body">
              <div class="promo-icon">
                <span class="fas fa-server color-primary"></span>
              </div>
              <div class="promo-info">
                <p>HEBERGER VOTRE SITE</p>
                <p>
                  La gestion de votre serveur virtuel privé n’a jamais été aussi
                  simple.
                  <br />
                  <br />
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-md-4 mb-lg-0">
        <span id="btnMakePayment">
          <div class="single-promo-card single-promo-hover text-center">
            <div class="promo-body">
              <div class="promo-icon">
                <span class="fas fa-cloud color-primary"></span>
              </div>
              <div class="promo-info">
                <p>LE MEILLEUR PRIX</p>
                <p>
                  NGHost vous propose les prix les plus bas du marché pour
                  maîtriser votre budget en toute sérénité.
                </p>
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-md-4 mb-lg-0">
        <span id="btnGetSupport">
          <div class="single-promo-card single-promo-hover text-center">
            <div class="promo-body">
              <div class="promo-icon">
                <span class="fas fa-compass color-primary"></span>
              </div>
              <div class="promo-info">
                <p>UNE EXPERIENCE CLIENT SIMPLIFIEE</p>
                <p>
                  Vous choisissez et payez en quelques clics. Vous recevez vos
                  factures et rappels sur votre messagerie. Nous sommes
                  disponibles en 24/7 pour vous accompagner.
                </p>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</section>

<!-- 
<section class="about-section ptb-50">
  <div class="container">
    <div class="row align-center-row">
      <div class="col-md-6 col-lg-6">
        <div class="cta-new-wrap">
          <h2><strong>Serveur Vps Cloud </strong></h2>
          <p>
            Les serveurs Cloud VPS constituent le choix idéal si vous avez
            besoin d’une liberté maximale de configuration. Vous pouvez choisir
            les paramètres de CPU, RAM et disque dur en fonction de vos besoins.
            Nous vous proposons des systèmes d’exploitation linux, applications
            et panneaux de gestion web (cpanel, plesk , directadmin ..) en
            préinstallation avec votre VPS. La gestion de votre serveur virtuel
            privé n’a jamais été aussi simple. Vous pouvez gérer et contrôler
            votre serveur virtuel simplement en quelques clics.
          </p>
          <ul class="list-unstyled tech-feature-list">
            <li>
              <span class="fa fa-check-circle color-primary"></span
              ><strong>Flexible</strong>, Easy to Use Control Panel
            </li>
            <li>
              <span class="fa fa-check-circle color-primary"></span
              ><strong>Unlimited </strong> Number of Website with Bandwidth
            </li>
            <li>
              <span class="fa fa-check-circle color-primary"></span
              ><strong>Unlimited </strong> Sub Domains, FTP Accounts
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="cta-new-wrap">
          <img
            src="assets/services.svg"
            alt="hosting"
            style="margin-top: 105px"
            class="img-responsive"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ptb-60 primary-bg1">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div class="col-md-12 col-lg-6">
        <div class="cta-content-wrap text-white">
          <h2 class="text-white">Service client 24h/7j</h2>
          <p>Obtenez des conseils d'experts à tout moment.</p>
        </div>
        <div class="support-action d-inline-flex flex-wrap">
          <a href="mailto:support@yourdomain.com" class="mr-3"
            ><i class="fas support fa-comment mr-1 color-accent"></i>
            <span class="support">support@yourdomain.com</span></a
          >
          <a href="tel:+00123456789" class="mb-0"
            ><i class="fas support fa-phone-alt mr-1 color-accent"></i>
            <span class="support">+00123456789</span></a
          >
        </div>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-md-6 col-lg-4 hidden-md hidden-sm hidden-xs">
        <div class="cta-img-wrap text-center">
          <img
            src="assets/call-center-support.svg"
            width="200px"
            height="200px"
            class="img-fluid"
            alt="server room"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="row align-items-center justify-content-between"
  style="
    width: 1225px;
    margin-left: 300px;
    margin-bottom: -100px;
    margin-top: 100px;
  "
>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div
      class="text-center shadow gray-light-bg single-pricing-pack-2 mt-4 rounded border"
    >
      <div class="pricing-icon">
        <img src="assets/dadicate-web-hosting.svg" width="60" alt="hosing" />
      </div>
      <h2 class="package-title">Basic</h2>

      <div class="pricing-price pt-4">
        <h3>idéale pour les débutants</h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i
          >Espace <strong>SSD</strong
          ><span
            class="badge color-1 color-1-bg"
            style="background-color: #0948b3"
          >
            <strong>Illimité</strong></span
          >
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          CPU <strong>2 vCore</strong>
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          RAM <strong>2 GB</strong>
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          <strong>10</strong> mails PRO
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i
          >Bande passante<span
            class="badge color-1 color-1-bg"
            style="background: #0948b3; margin-left: 5px"
            >Illimité</span
          >
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i
          ><strong>5 base</strong> de données
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          domaine <strong>.tn</strong
          ><span class="badge color-1 color-1-bg" style="background: #0948b3"
            >gratuit</span
          >
        </h3>
        <br />
        <br />
        <div class="h2">
          TND 19.99 <span class="price-cycle h4">/année</span>
        </div>
      </div>
      <a
        routerLink=""
        class="btn outline-btn mt-20"
        style="background: #0948b3; color: white"
        >Commander</a
      >
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div
      class="text-center shadow gray-light-bg single-pricing-pack-2 mt-4 rounded border"
    >
      <div class="pricing-icon">
        <img src="assets/vps-hosting.svg" width="60" alt="hosing" />
      </div>
      <h2 class="package-title">
        Economy <span class="badge color-1 color-1-bg">Popular</span>
      </h2>

      <div class="pricing-price pt-4">
        <h3>idéale pour le Ecommerce</h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i
          >Espace <strong>SSD</strong
          ><span
            class="badge color-1 color-1-bg"
            style="background-color: #0948b3"
          >
            <strong>Illimité</strong></span
          >
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          CPU <strong>3 vCore</strong>
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          RAM <strong>3 GB</strong>
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          <strong>20</strong> mails PRO
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i
          >Bande passante<span
            class="badge color-1 color-1-bg"
            style="background: #0948b3; margin-left: 5px"
            >Illimité</span
          >
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i
          ><strong>10 base</strong> de données
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          domaine <strong>.tn</strong
          ><span class="badge color-1 color-1-bg" style="background: #0948b3"
            >gratuit</span
          >
        </h3>
        <br />
        <br />
        <div class="h2">TND 34 <span class="price-cycle h4">/année</span></div>
      </div>
      <a
        href="cart.php?a=add&amp;pid=25"
        class="btn primary-solid-btn mt-20"
        style="background: #0948b3; color: white"
        >Commander</a
      >
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="text-center shadow single-pricing-pack-2 mt-4 rounded border">
      <div class="pricing-icon">
        <img src="assets/cloud-hosting.svg" width="60" alt="hosing" />
      </div>
      <h2 class="package-title">Pro</h2>

      <div class="pricing-price pt-4">
        <h3>idéale pour les professionnels</h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i
          >Espace <strong>SSD</strong
          ><span
            class="badge color-1 color-1-bg"
            style="background-color: #0948b3"
          >
            <strong>Illimité</strong></span
          >
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          CPU <strong>3 vCore</strong>
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          RAM <strong>4 GB</strong>
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          <strong>100</strong> mails PRO
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i
          >Bande passante<span
            class="badge color-1 color-1-bg"
            style="background: #0948b3; margin-left: 5px"
            >Illimité</span
          >
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i
          ><strong>15 base</strong> de données
        </h3>
        <br />
        <h3>
          <i class="pi pi-check" style="font-size: 1rem; margin-right: 5px"></i>
          domaine <strong>.tn</strong
          ><span class="badge color-1 color-1-bg" style="background: #0948b3"
            >gratuit</span
          >
        </h3>
        <br />
        <br />
        <div class="h2">TND 45 <span class="price-cycle h4">/année</span></div>
      </div>
      <a
        routerLink=""
        style="background: #0948b3; color: white"
        class="btn outline-btn mt-20"
        >Commander</a
      >
    </div>
  </div>
</div> -->
<app-footer></app-footer>
