<div class="mb-1">
  <app-header></app-header>
</div>
<section class="ptb-100 overflow-hidden primary-bg">
  <div class="container">
    <div
      class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center"
    >
      <div class="col-md-12 col-lg-6">
        <div class="hero-slider-content text-white py-5">
          <div class="headline mb-4">
            <p class="mb-0">
              <i class="fas fa-bell rounded-circle mr-2"></i>
              <span class="font-weight-bold">30 % de réduction </span> sur le
              premier achat annuel
            </p>
          </div>
          <h1 class="text-white">
            Domaine et hébergement illimités &amp; sur une seule plate-forme
          </h1>
          <p class="lead">
            Une tonne d'options d'hébergement de sites Web, une garantie de
            disponibilité de 99,9 %, un certificat SSL gratuit, des
            installations WordPress faciles.
          </p>

          <div class="action-btns mt-4">
            <a href="#" class="btn btn-brand-03 btn-lg">Get Started Now </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6">
        <div class="img-wrap">
          <img
            src="assets/images/hero-home.svg"
            alt="hosting"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="position-relative zindex-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-8 col-12">
        <div class="domain-search-wrap border gray-light-bg">
          <h4 class="text-center">Vous cherchez un nom de domaine?</h4>
          <form class="domain-search-form my-4">
            <input
              type="text"
              name="domain"
              id="domain"
              class="form-control"
              placeholder="votrenondedomaine.com"
            />
            <div class="select-group">
              <select name="domainType" class="form-control">
                <option value="com" selected>.com</option>
                <option value="net">.net</option>
                <option value="io">.tn</option>
                <option value="info">.info</option>
                <option value="store">.online</option>
                <option value="store">.org</option>
              </select>
              <button type="submit" class="btn btn-brand-01">
                <i class="fas fa-search pr-1"></i> Search
              </button>
            </div>
          </form>
          <div class="domain-list-wrap text-center">
            <ul class="list-inline domain-search-list">
              <li class="list-inline-item bg-white border rounded">
                <a href="#"
                  ><img
                    src="assets/com.png"
                    alt="com"
                    width="70"
                    class="img-fluid"
                  />
                  <span>27.00DT</span></a
                >
              </li>
              <li class="list-inline-item bg-white border rounded">
                <a href="#"
                  ><img
                    src="assets/net.png"
                    alt="com"
                    width="70"
                    class="img-fluid"
                  />
                  <span>37.00DT</span></a
                >
              </li>
              <li class="list-inline-item bg-white border rounded">
                <a href="#"
                  ><img
                    src="assets/org.png"
                    alt="com"
                    width="70"
                    class="img-fluid"
                  />
                  <span>34.99DT</span></a
                >
              </li>
              <li class="list-inline-item bg-white border rounded">
                <a href="#"
                  ><img
                    src="assets/reserver-domaine-tn-.png"
                    alt="com"
                    width="70"
                    class="img-fluid"
                  />
                  <span>12.00DT</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="mt-5">

</div>
<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div
          class="section-heading wow fadeInDown"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <h4>Nous vous fournissons <em>les meilleures&amp;fonctionnalités</em> d'hébergement</h4>

          <p>
            Hébergeur Internet propriétaire de son infrastructure et fournit un support réel 24h/7/365
            <a href="#" target="_parent"
              >Contacter nous </a
            >
            pour plus  d'information.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="service-item first-service">
          <div class="icon"></div>
          <h4>Securité</h4>
          <p>
            Développez vos connaissances sur la sécurité du cloud
Découvrez comment construire votre avenir en toute sécurité sur NGhost
          </p>
          <div class="text-button">
            <a href="#">Lire plus <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="service-item second-service">
          <div class="icon"></div>
          <h4>Formation</h4>
          <p>
            Formation NGhost gratuite
            Faites progresser votre carrière avec Cloud Practitioner Essentials, un cours de base gratuit de six heures
          </p>
          <div class="text-button">
            <a href="#">Lire plus <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="service-item third-service">
          <div class="icon"></div>
          <h4>Interfaces dédiées et sécurisées
        </h4>
          <p>
        Des interfaces clients dédiées et sécurisées pour vous permettre de suivre facilement vos facturations, statistiques, rapports…
          <div class="text-button">
            <a href="#">Lire plus <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="service-item fourth-service">
          <div class="icon"></div>
          <h4>24/7 Aide &amp; Assistance</h4>
          <p>
            Nos équipes techniques sont disponibles pour vous accompagner 24h sur 24 et 7 jours sur 7.
          </p>
          <div class="text-button">
            <a href="#">Lire plus<i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="pricing" class="pricing-tables">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading">
          <h4>Découvrer notre  <em> panoplie de service</em> d'hebergement web</h4>
          <img src="assets/images/heading-line-dec.png" alt="">
          <p>Choisissez l'option convenable pour réussir l'hébergement de vos projets sur internet.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-item-regular">
          <span class="price">20 Dt</span>
          <h4>Hebergement Basic </h4>
          <div class="icon">
            <img src="assets/images/pricing-table-01.png" alt="">
          </div>
          <ul>
            <li><i class="fas fa-check"></i> Espace SSD <strong>illimité</strong></li>
            <li><i class="fas fa-check"></i>CPU <strong>2 vCORE</strong></li>
            <li><i class="fas fa-check"></i>RAM <strong>2 GB</strong></li>
            <li><i class="fas fa-check"></i><strong>10</strong> mails PRO</li>
            <li><i class="fas fa-check"></i><strong>5 Base</strong> de données</li>
            <li><i class="fas fa-check"></i>Bande passante <strong>illimité</strong></li>
            <li><i class="fas fa-check"></i>Certificat<strong>SSL</strong> inclus</li>
            <li><i class="fas fa-check"></i>Domaine<strong>.tn</strong>gratuis</li>
          </ul>
          <div class="border-button">
            <a  type="submit" href="#">Commander</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-item-pro">
          <span class="price">45 Dt </span>
          <h4>Hebergement Pro</h4>
          <div class="icon">
            <img src="assets/images/pricing-table-01.png" alt="">
          </div>
          <ul>
            <li><i class="fas fa-check"></i> Espace SSD <strong>illimité</strong></li>
            <li><i class="fas fa-check"></i>CPU <strong>3 vCORE</strong></li>
            <li><i class="fas fa-check"></i>RAM <strong>4 GB</strong></li>
            <li><i class="fas fa-check"></i><strong>100</strong> mails PRO</li>
            <li><i class="fas fa-check"></i><strong>15 Base</strong> de données</li>
            <li><i class="fas fa-check"></i>Bande passante <strong>illimité</strong></li>
            <li><i class="fas fa-check"></i>Certificat<strong>SSL</strong> inclus</li>
            <li><i class="fas fa-check"></i>Domaine<strong>.tn</strong>gratuis</li>
          </ul>
          <div class="border-button">
            <a href="#">Commander</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-item-regular">
          <span class="price">35 Dt</span>
          <h4>Hebergement Ecommerce</h4>
          <div class="icon">
            <img src="assets/images/pricing-table-01.png" alt="">
          </div>
          <ul>
            <li><i class="fas fa-check"></i> Espace SSD <strong>illimité</strong></li>
            <li><i class="fas fa-check"></i>CPU <strong>3 vCORE</strong></li>
            <li><i class="fas fa-check"></i>RAM <strong>3 GB</strong></li>
            <li><i class="fas fa-check"></i><strong>20</strong> mails PRO</li>
            <li><i class="fas fa-check"></i><strong>10 Base</strong> de données</li>
            <li><i class="fas fa-check"></i>Bande passante <strong>illimité</strong></li>
            <li><i class="fas fa-check"></i>Certificat<strong>SSL</strong> inclus</li>
            <li><i class="fas fa-check"></i>Domaine<strong>.tn</strong>gratuis</li>
          </ul>
          <div class="border-button">
            <a href="#">Commander</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="section-heading">
          <h4>À propos <em> de ce que nous faisons</em> &amp; de qui nous sommes</h4>
          <img src="assets/images/heading-line-dec.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
        </div>
        <div class="row">

          <div class="col-lg-6">
            <div class="box-item">
              <h4><i class="fas fa-headphones"></i><a href="#"> 24/7 Support &amp; Help</a></h4>
              <p>Obtenez des conseils d'experts à tout moment</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="#"><i class="fas fa-phone"></i>Appellez</a></h4>
              <p>à tout moment</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="#"><i class="fa-solid fa-ticket-simple"></i>Ticket </a></h4>
              <p>support avancé</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-image">
          <img src="assets/images/about-right-dec.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/src/vendor/jquery/jquery.min.js"></script>
<script src="/src/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/src/assets/js/owl-carousel.js"></script>
<script src="/src/assets/js/animation.js"></script>
<script src="/src/assets/js/imagesloaded.js"></script>
<script src="/src/assets/js/popup.js"></script>
<script src="src/assets/js/custom.js"></script>
