<app-header></app-header>
<section class="jumbotron text-center">
</section>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<div class="container bootstrap snippets bootdey" style="margin-bottom: -150px;">
  <div class="col-md-9 col-sm-8 content">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info panel-shadow">
          <div class="panel-heading">
            <h3>
              <img class="img-circle img-thumbnail" src="https://bootdey.com/img/Content/user_3.jpg">
              {{username}}
            </h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prix</th>
                  <th>Space Disque</th>
                  <th>CPU Core</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let product of products">
                  <td>{{product.name}}</td>
                  <td>{{product.price}} TND</td>
                  <td>{{product.memorySpace}}</td>
                  <td>{{product.nbCore}}</td>
                  <td>
                    <button
                      class="btn btn-outline-warning btn-danger"
                      (click)="deleteProduct(product.id)"
                    >
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <a href="#"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;</a>
        <a href="#"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;</a>

      </div>
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">

      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button class="btn btn-block btn-light"></button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button (click)="makePayment()"
                  class="btn btn-lg btn-block text-uppercase"
                  style="margin-bottom: -300px;margin-right: 60px; color: white;"><span
            class="fas fa-arrow-circle-right"></span> Payé maitenant pour s'abonner à ce service
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>

