<app-toolbar></app-toolbar>
<div class="container mt-5">
  <p-toast></p-toast>

   <div class="card">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success btn mr-2"
          (click)="openNew()"
        ></button>
        <button
          pButton
          pRipple
          label="Delete"
          icon="pi pi-trash"
          class="p-button-danger btn"
          (click)="deleteSelectedProducts()"
          [disabled]="!selectedUsers || !selectedUsers.length"
        ></button>
      </ng-template>
    </p-toolbar>
  
    <p-table
      #dt
      [value]="users"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status'
      ]"
      responsiveLayout="scroll"
      [(selection)]="selectedUsers"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Gestion des services</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
             <!-- &lt;!&ndash; <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />  &ndash;&gt; -->
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="fullName">
            Nom & Prenom 
          </th>
          <th pSortableColumn="username">
            Nom d'utilisateur 
          </th>
          <th pSortableColumn="Role">
            Role <p-sortIcon field="role"></p-sortIcon>
          </th>
          <th pSortableColumn="email">E-mail</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-users>
        <tr [pEditableRow]="users">
          <td>
            <p-tableCheckbox [value]="user"></p-tableCheckbox>
          </td>
          <td>{{ users.fullName }}</td>
          <td>{{ users.userName }}</td>
          <td>
            {{ users.role }}
          </td>
          <td>{{users.email}}</td>
          
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editProduct(user)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteProduct(user)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are {{ users ? users.length : 0 }} products.
        </div>
      </ng-template>
    </p-table>
  </div>
  
  <form [formGroup]="myForm" (ngSubmit)="loadData()">
    <p-dialog
      [(visible)]="productDialog"
      [style]="{ width: '450px' }"
      header="Product Details"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Name</label>
          <input
            type="text"
            pInputText
            id="name"
            formControlName="fullName"
            class="form-control"
            required
            autofocus
          />
          <small class="p-error" *ngIf="submitted && !user.fullName"
            >fullName is required.</small
          >
        </div>
        <div class="field">
          <label for="name">Nom d'utilisateur</label>
          <input
            type="text"
            pInputText
            id="Catalogue"
            formControlName="userName"
          />
        </div>
        <div class="field">
            <label for="name">E-mail</label>
            <input
              type="text"
              pInputText
              id="email"
              formControlName="email"
            />
          </div>
        <div class="field">
          <label for="role" class="form-label">Role</label>
          <p-dropdown
            inputId="role"
            formControlName="role"
            
            [options]="roles"
          >
          </p-dropdown>
        </div>  
      </ng-template>
  
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="loadData()"
        ></button>
      </ng-template>
    </p-dialog>
  </form>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  
<!--</div>

<!--&lt;!&ndash; 
<!--<app-toolbar></app-toolbar>
<!--<div class="container">

<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4 mb-3">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success btn p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger btn" (click)="deleteSelectedProducts()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block btn"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help btn"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="users" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
        [(selection)]="selectedUsers" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Montrant {first} à {last} de {totalRecords} entrées" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption" >
          <div class="flex align-items-center justify-content-between">
            <h3 class="m-0">Gestion des produits</h3>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                 <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." /> 
            </span>
        </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="fullName">Nom & Prenom <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="username">Nom d'utilisateur <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="role">Role</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td>{{user.fullName}}</td>
                <td>{{user.username}}</td>
                <td><span [class]="'product-badge status-' + user.role.toLowerCase()">{{user.role}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success btn" (click)="editProduct(user)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning btn" (click)="deleteProduct(user)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              Au total il y a {{users? users.length : 0 }} Admin.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Nom & Preonm</label>
            <input type="text" pInputText id="fullName" [(ngModel)]="user.fullName" required autofocus />
        </div>
        <div class="p-field">
          <label for="name">Nom d'utilisateur</label>
          <input type="text" pInputText id="name" [(ngModel)]="user.username" required autofocus />
      </div>
      <div class="field">
        <label for="role">Role</label>
        <p-dropdown [(ngModel)]="user.role" inputId="role" [options]="status" placeholder="Select">
            <ng-template let-option pTemplate="item">
                <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
            </ng-template>
        </p-dropdown>
    </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

 </div> &ndash;&gt; -->
