<app-toolbar></app-toolbar>
<div class="container mt-5">
  <p-toast></p-toast>

  <div class="card">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button
          (click)="openNew()"
          class="p-button-success btn mr-2"
          icon="pi pi-plus"
          label="New"
          pButton
          pRipple
        ></button>
        <button
          (click)="deleteSelectedProducts()"
          [disabled]="!selectedUsers || !selectedUsers.length"
          class="p-button-danger btn"
          icon="pi pi-trash"
          label="Delete"
          pButton
          pRipple
        ></button>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [(selection)]="selectedUsers"
      [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status'
      ]"
      [paginator]="true"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [value]="users"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      dataKey="id"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Gestion des services</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <!-- &lt;!&ndash; <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />  &ndash;&gt; -->
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="fullName">
            Nom & Prenom
          </th>
          <th pSortableColumn="username">
            Nom d'utilisateur
          </th>
          <th pSortableColumn="Role">
            Role
            <p-sortIcon field="role"></p-sortIcon>
          </th>
          <th pSortableColumn="email">E-mail</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template let-users pTemplate="body">
        <tr [pEditableRow]="users">
          <td>
            <p-tableCheckbox [value]="user"></p-tableCheckbox>
          </td>
          <td>{{ users.fullName }}</td>
          <td>{{ users.userName }}</td>
          <td>
            {{ users.role }}
          </td>
          <td>{{users.email}}</td>

          <td>
            <button
              (click)="editProduct(user)"
              class="p-button-rounded p-button-success mr-2"
              icon="pi pi-pencil"
              pButton
              pRipple
            ></button>
            <button
              (click)="deleteProduct(user)"
              class="p-button-rounded p-button-warning"
              icon="pi pi-trash"
              pButton
              pRipple
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are {{ users ? users.length : 0 }} products.
        </div>
      </ng-template>
    </p-table>
  </div>

  <form (ngSubmit)="loadData()" [formGroup]="myForm">
    <p-dialog
      [(visible)]="productDialog"
      [modal]="true"
      [style]="{ width: '450px' }"
      header="Product Details"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Name</label>
          <input
            autofocus
            class="form-control"
            formControlName="fullName"
            id="name"
            pInputText
            required
            type="text"
          />
          <small *ngIf="submitted && !user.fullName" class="p-error"
          >fullName is required.</small
          >
        </div>
        <div class="field">
          <label for="name">Nom d'utilisateur</label>
          <input
            formControlName="userName"
            id="Catalogue"
            pInputText
            type="text"
          />
        </div>
        <div class="field">
          <label for="name">E-mail</label>
          <input
            formControlName="email"
            id="email"
            pInputText
            type="text"
          />
        </div>
        <div class="field">
          <label class="form-label" for="role">Role</label>
          <p-dropdown
            [options]="roles"
            formControlName="role"

            inputId="role"
          >
          </p-dropdown>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          (click)="hideDialog()"
          class="p-button-text"
          icon="pi pi-times"
          label="Cancel"
          pButton
          pRipple
        ></button>
        <button
          (click)="loadData()"
          class="p-button-text"
          icon="pi pi-check"
          label="Save"
          pButton
          pRipple
        ></button>
      </ng-template>
    </p-dialog>
  </form>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
