<div
  class="main-menu menu-fixed menu-dark menu-accordion menu-shadow expanded"
  data-scroll-to-active="true"
>
  <div class="navbar-header expanded">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a href=""
          ><img class="logo" alt="ZenHosting" src="/assets/logo.png"
        /></a>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"
          ><i
            class="icon-x d-block d-xl-none font-medium-4 primary toggle-icon icon-disc feather"
          ></i
          ><i
            class="toggle-icon icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary feather"
            data-ticon="icon-disc"
          ></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content ps" style="height: 413px">
    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
      <li menuitemname="Home" class="nav-item" id="Primary_Navbar-Home">
        <a routerLink="/dashboard/client">
          <i class="fas fa-home"></i>&nbsp;
          <span class="menu-title">Espace client</span>
          <span
            class="badge badge badge-warning badge-pill float-right mr-2"
          ></span>
        </a>
      </li>
      <li
        menuitemname="Services"
        class="nav-item dropdown has-sub"
        id="Primary_Navbar-Services"
      >
        <a
          class="dropdown-toggle"
          data-toggle="dropdown"
          routerLink="/dashboard/client/subscribed-services">
          <i class="fas fa-server"></i>&nbsp; Mes services
        </a>
      </li>
      <li
      
        menuitemname="Domains"
        class="nav-item dropdown has-sub"
        id="Primary_Navbar-Domains"
      >
        <a 
        routerLink="/dashboard/client/domain"
        class="dropdown-toggle" data-toggle="dropdown">
          <i class="fas fa-globe"></i>&nbsp; Mes domaines
        </a>
      </li>
      <li
        menuitemname="Billing"
        class="nav-item dropdown has-sub"
        id="Primary_Navbar-Billing"
      >
        <a class="dropdown-toggle" data-toggle="dropdown">
          <i class="fas fa-file-text"></i>&nbsp; Mes factures
        </a>
      </li>
      <li
        menuitemname="Support"
        class="nav-item dropdown has-sub"
        id="Primary_Navbar-Support"
      >
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" routerLink="/ticket">
          <i class="fas fa-edit"></i>&nbsp; Ouvrir un ticket
        </a>
      </li>
      <li
        menuitemname="Suppor"
        class="nav-item dropdown has-sub"
        id="Primary_Navbar-Suppor"
      >
        <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/dashboard/client/profil">
          <i class="fas fa-user"></i>&nbsp;Profil
        </a>
      </li>

      <li class="nav-item dropdown has-sub" id="Primary_Navbar-Open_Ticket" menuitemname="Open Ticket">
        <a type="button" style=" font-size: 20px" (click)="logout()">
          <i class="pi pi-sign-out"></i>&nbsp; Déconnexion
        </a>
      </li>
    </ul>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 0px">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px"></div>
    </div>
  </div>
</div>

