@import "src/app/Components/sign-in/custom";

.not-first-message {
  margin-left: 5px;
}

.password-reset {
  margin-top: 10px;
}

#hide-options {
  margin-top: 15px;
  text-align: center;
}

button {
  margin-top: 10px;
  font-size: large;
}

@media screen and (min-width: 900px) {
  .update-choice {
    display: flex;
    justify-content: center;
  }
}

// Update modal text
p {
  color: var(--green-pakistan-green);
}

.login-container {
  margin-top: 20%;
}
