.btn{
  margin:10px;
}

mat-toolbar {
  background:#0948b3 ;
  height: 70px;
  
  & .brand {
    font-family: "GreatVibes";
    color: white;
    font-size: xx-large;
    margin-left: 15px;
  }

  & .toggler-right,
  & .toggler-left {
    background-color: #fff;

    &:hover {
      background-color: #fff !important;
    }
  }
}

@media screen and (max-width: 900px) {
  mat-toolbar {
    & .brand {
      left: 0;
      font-size: xx-large;
      margin-left: 15px;
    }

    // the left button is hidden
    & .toggler-left {
      display: none;
    }

    // the right button is positionned
    & .toggler-right {
      position: absolute;
      right: 20px;
    }
  }
}

// hiding the left button if the screen is large
@media screen and (min-width: 900px) {
  .toggler-right {
    display: none;
  }
}
