<div class="container mt-5">
  <div class="card">
    <p-table #dt
             [paginator]="true"
             [rowHover]="true"
             [rows]="10" [showCurrentPageReport]="true"
             [value]="subscriptions"
             currentPageReportTemplate="Montrant {first} à {last} de {totalRecords} entrées"
             dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name</th>
          <th pSortableColumn="memorySpace">Date Début</th>
          <th pSortableColumn="nbCore">Date Fin</th>
          <th pSortableColumn="domain">Mode Paiement</th>
          <th pSortableColumn="bandwidth">Client</th>
          <th pSortableColumn="nbEmail">Montant</th>
        </tr>
      </ng-template>
      <ng-template let-abonement pTemplate="body">
        <tr>
          <td>{{abonement.name}}</td>
          <td>{{getDateFromTimestamp(abonement.startedDate)}}</td>
          <td>{{getDateFromTimestamp(abonement.endedDate)}}</td>
          <td>Carte</td>
          <td>{{abonement.customerEmail}}</td>
          <td>{{abonement.price}} TND</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Au total il y a {{subscriptions ? subscriptions.length : 0 }} produits.
        </div>
      </ng-template>
    </p-table>
  </div>

</div>
