<div id="mainCoantiner">
    <!--dust particel-->
    <div class="margin-body">

    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->

    <div class="row justify-content-center">
        <p-carousel [value]="services" [numVisible]="3" [numScroll]="3" [circular]="false">
          <ng-template let-service pTemplate="item">
            <div class="pricing-column" >
              <div class="pricing-price-row">
                <div class="pricing-price-wrapper">
                  <div class="pricing-price">
                    <div class="pricing-cost">{{service.price}} TND</div>
                    <div class="time">Par an</div>
                  </div>
                </div>
              </div>
              <div class="pricing-row-title">
                <div class="pricing_row_title" style="font-size: 15px">{{service.name}}</div>
              </div>
              <figure class="pricing-row">Domaine: {{service.domain}}</figure>
              <figure class="pricing-row"><span style="color: #5f727f;">Space SSD: {{service.memorySpace}}</span></figure>
              <figure class="pricing-row"><span style="color: #5f727f;"> {{service.nbEmail}} Email Pro</span></figure>
              <figure class="pricing-row strike"> {{service.nbDatabase}} Base de donnée</figure>
              <figure class="pricing-row strike">CPU Core: {{service.nbCore}}</figure>
              <figure class="pricing-row strike">Ram: {{service.ram}}</figure>
              <figure class="pricing-row strike">Bande Passante: {{service.bandwidth}}</figure>
              <div class="pricing-footer">
                <div class="gem-button-container gem-button-position-center">
                  <a class="gem-button gem-purpel">Commander</a>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
   </div>
  </div>
