mat-card-content{
    font-size: 15px;
button{
   background-color: #fff;
   margin: 15px;
   font-size: 20px;
   align-content: center;
}
p{
    margin: 5px;
}
}
mat-card-title{
    font-family: DejaVu Sans Mono, monospace;
}
        