<!-- <app-top></app-top>
<section id="pricing" style="margin-bottom: -197px;" class=" ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading text-center mb-4">
                    <h2>Choisissez votre forfait VPS Windows Hébergement </h2>
                    <p class="lead">
                        professionnel à un prix abordable. Recaptiualiser distinctement les compétences de base centrées 
                        sur les principes par le biais de compétences de base centrées sur le client.
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-md-center justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bg-white single-pricing-pack mt-4 border">
                    <div class="text-center pricing-header py-4">
                        <h6 class="mb-2 text-uppercase">Windows VPS 1</h6>
                        <div class="price mb-0 monthly-price color-secondary"><span>TND</span>19.99</div>
                        <span class="p-month"> Par Mois</span>
                    </div>
                    <div class="pricing-content text-center">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>2 GB</span> RAM</li>
                            <li><span>50 GB</span> Storage</li>
                            <li><span>4 TB</span> Bandwidth</li>
                            <li><span>24/7</span> Support</li>
                            <li><span>4</span> Cores</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-brand-01 mb-2" style="background-color: #0948b3;  color: white;"  target="_blank">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="popular-price bg-white single-pricing-pack mt-4 border">
                    <div class="text-center pricing-header py-4 text-white">
                        <h6 class="mb-2 h5 text-white text-uppercase">Windows VPS 2</h6>
                        <div class="price mb-0 monthly-price"><span>TND</span>45.99</div>
                        <span class="p-month"> Par Mois</span>
                    </div>
                    <div class="pricing-content text-center">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>4 GB</span> RAM</li>
                            <li><span>100 GB</span> Storage</li>
                            <li><span>5 TB</span> Bandwidth</li>
                            <li><span>24/7</span> Support</li>
                            <li><span>4</span> Cores</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-brand-03 mb-2" style="background-color: #0948b3;  color: white;"  target="_blank">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bg-white single-pricing-pack mt-4 border">
                    <div class="text-center pricing-header py-4">
                        <h6 class="mb-2 text-uppercase">Windows VPS 3</h6>
                        <div class="price  mb-0 monthly-price color-secondary"><span>TND</span>66.99</div>
                        <span class="p-month"> Par Mois</span>
                    </div>
                    <div class="pricing-content text-center">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>8 GB</span> RAM</li>
                            <li><span>200 GB</span> Storage</li>
                            <li><span>6 TB</span> Bandwidth</li>
                            <li><span>24/7</span> Support</li>
                            <li><span>4</span> Cores</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-brand-01 mb-2" style="background-color: #0948b3;  color: white;" target="_blank">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bg-white single-pricing-pack mt-4 border">
                    <div class="text-center pricing-header py-4">
                        <h6 class="mb-2 text-uppercase">Windows VPS 4</h6>
                        <div class="price mb-0 monthly-price color-secondary"><span>TND</span>99.99</div>
                        <span class="p-month"> Par Mois</span>
                    </div>
                    <div class="pricing-content text-center">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>16 GB</span> RAM</li>
                            <li><span>400 GB</span> Storage</li>
                            <li><span>7 TB</span> Bandwidth</li>
                            <li><span>24/7</span> Support</li>
                            <li><span>4</span> Cores</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-brand-01 mb-2" style="background-color: #0948b3;  color: white;" target="_blank">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer> -->
<app-sidenavbar></app-sidenavbar>
                             
<div class="cart-body container">
    <div class="header-lined">
        <h2 class="font-size-24">
            Register Domain
        </h2>
    </div>
    <div class="sidebar-collapsed">
    <div class="panel card panel-default">
    </div>
</div>

    <p>Find your new domain name. Enter your name or keywords below to check availability.</p>

    <div class="domain-checker-container">
      
        <div class="domain-checker-bg clearfix">
            <form method="post" action="/cart.php" id="frmDomainChecker">
<input type="hidden" name="token" value="c65c5cbaa540ed24ff0070a36356a9c61e21bd13">
                <input type="hidden" name="a" value="checkDomain">
                <div class="row">
                    <div class="col-md-10 col-sm-11 col-xs-11">
                        <div class="input-group input-group-lg input-group-box">
                            <input type="text" name="domain" class="form-control" placeholder="Find your new domain name" value="" id="inputDomain" data-toggle="tooltip" data-placement="left" data-trigger="manual" title="" data-original-title="Enter a domain or keyword">
                            <span class="input-group-btn input-group-append">
                                <button type="submit" id="btnCheckAvailability" class="btn search-btn domain-check-availability">Search</button>
                            </span>
                        </div>
                    </div>

                                            </div>
            </form>
        </div>
    </div>


    <div class="domain-pricing">

        <div class="tld-pricing-table-wrap">
            <table class="table vps-hosting-pricing-table vps-hosting-pricing-table-two">
                <thead>
                <tr>
                    <th class="tld-column">Domain</th>
                    <th>New Price</th>
                    <th>Transfer</th>
                    <th>Renewal</th>
                </tr>
                </thead>
                <tbody>
                
                                        <tr class="vps-pricing-row border-accent-primary tld-row filtered-row" data-category="|Popular|">
                    <td data-value="VCPU">
                        <strong>.com</strong>
                                                            <span class="tld-sale-group tld-sale-group-hot">hot!</span>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate color-primary">$10.10 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                             <span class="rate">$11.15 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate">$12.15 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                </tr>
                
                                    <tr class="vps-pricing-row border-accent-primary tld-row filtered-row highlighted" data-category="|Popular|">
                    <td data-value="VCPU">
                        <strong>.net</strong>
                                                            <span class="tld-sale-group tld-sale-group-new">new!</span>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate color-primary">$11.50 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                             <span class="rate">$12.50 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate">$14.50 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                </tr>
                
                                    <tr class="vps-pricing-row border-accent-primary tld-row filtered-row" data-category="|Popular|">
                    <td data-value="VCPU">
                        <strong>.org</strong>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate color-primary">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                             <span class="rate">$15.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate">$16.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                </tr>
                
                                    <tr class="vps-pricing-row border-accent-primary tld-row filtered-row highlighted" data-category="|Popular|">
                    <td data-value="VCPU">
                        <strong>.biz</strong>
                                                            <span class="tld-sale-group tld-sale-group-sale">sale!</span>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate color-primary">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                             <span class="rate">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                </tr>
                
                                    <tr class="vps-pricing-row border-accent-primary tld-row filtered-row" data-category="|Popular|">
                    <td data-value="VCPU">
                        <strong>.info</strong>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate color-primary">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                             <span class="rate">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                </tr>
                
                                    <tr class="vps-pricing-row border-accent-primary tld-row" data-category="|Shopping|" style="display: none;">
                    <td data-value="VCPU">
                        <strong>.store</strong>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate color-primary">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                             <span class="rate">$15.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate">$16.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                </tr>
                
                                    <tr class="vps-pricing-row border-accent-primary tld-row filtered-row highlighted" data-category="|Popular||Technology|">
                    <td data-value="VCPU">
                        <strong>.online</strong>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate color-primary">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                             <span class="rate">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                    <td data-value="Price">
                                                            <span class="rate">$14.95 USD</span>
                            <span class="pricing-onsale">1 Year</span>
                                                    </td>
                </tr>
                
                                    </tbody>
            </table>
        </div>
       
                    
             

</div>