<app-top></app-top>
<section id="pricing" class="pricing-section ptb-100 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading text-center mb-4">
                    <h2>Choisissez votre forfait VPS Windows Hébergement </h2>
                    <p class="lead">
                        professionnel à un prix abordable. Recaptiualiser distinctement les compétences de base centrées 
                        sur les principes par le biais de compétences de base centrées sur le client.
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-md-center justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bg-white single-pricing-pack mt-4 border">
                    <div class="text-center pricing-header py-4">
                        <h6 class="mb-2 text-uppercase">Windows VPS 1</h6>
                        <div class="price mb-0 monthly-price color-secondary"><span>TND</span>19.99</div>
                        <span class="p-month"> Per Month</span>
                    </div>
                    <div class="pricing-content text-center">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>2 GB</span> RAM</li>
                            <li><span>50 GB</span> Storage</li>
                            <li><span>4 TB</span> Bandwidth</li>
                            <li><span>24/7</span> Support</li>
                            <li><span>4</span> Cores</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-brand-01 mb-2" target="_blank">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="popular-price bg-white single-pricing-pack mt-4 border">
                    <div class="text-center pricing-header py-4 text-white">
                        <h6 class="mb-2 h5 text-white text-uppercase">Windows VPS 2</h6>
                        <div class="price mb-0 monthly-price"><span>TND</span>45.99</div>
                        <span class="p-month"> Per Month</span>
                    </div>
                    <div class="pricing-content text-center">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>4 GB</span> RAM</li>
                            <li><span>100 GB</span> Storage</li>
                            <li><span>5 TB</span> Bandwidth</li>
                            <li><span>24/7</span> Support</li>
                            <li><span>4</span> Cores</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-brand-03 mb-2" target="_blank">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bg-white single-pricing-pack mt-4 border">
                    <div class="text-center pricing-header py-4">
                        <h6 class="mb-2 text-uppercase">Windows VPS 3</h6>
                        <div class="price  mb-0 monthly-price color-secondary"><span>TND</span>66.99</div>
                        <span class="p-month"> Per Month</span>
                    </div>
                    <div class="pricing-content text-center">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>8 GB</span> RAM</li>
                            <li><span>200 GB</span> Storage</li>
                            <li><span>6 TB</span> Bandwidth</li>
                            <li><span>24/7</span> Support</li>
                            <li><span>4</span> Cores</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-brand-01 mb-2" target="_blank">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bg-white single-pricing-pack mt-4 border">
                    <div class="text-center pricing-header py-4">
                        <h6 class="mb-2 text-uppercase">Windows VPS 4</h6>
                        <div class="price mb-0 monthly-price color-secondary"><span>TND</span>99.99</div>
                        <span class="p-month"> Per Month</span>
                    </div>
                    <div class="pricing-content text-center">
                        <ul class="list-unstyled mb-4 pricing-feature-list">
                            <li><span>16 GB</span> RAM</li>
                            <li><span>400 GB</span> Storage</li>
                            <li><span>7 TB</span> Bandwidth</li>
                            <li><span>24/7</span> Support</li>
                            <li><span>4</span> Cores</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-brand-01 mb-2" target="_blank">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>