<app-toolbar></app-toolbar>
<div class="container mt-5">
    <p-toast></p-toast>

    <div class="card">
  
      <p-table #dt [value]="customers" [rows]="10" [paginator]="true"
          [rowHover]="true" dataKey="id"
          currentPageReportTemplate="Montrant {first} à {last} de {totalRecords} entrées" [showCurrentPageReport]="true">
          <ng-template pTemplate="caption" >
            <div class="flex align-items-center justify-content-between">
              <h3 class="m-0">Gestion des clients</h3>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." /> -->
              </span>
          </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th >Login</th>
                  <th >Nom & Prénom </th>
                  <th >Email</th>
                  <th >Numéro</th>
                  <th >Statut</th>
                  <th>Action</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
              <tr>
                  <td>{{customer.username}}</td>
                  <td>{{customer.fullName }}</td>
                  <td>{{customer.email}}</td>
                  <td>{{customer.phone}}</td>
                  <td>actif</td>
                  <td>
                      <button pButton pRipple icon class="p-button-rounded p-button-success btn" ></button>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              <div class="p-d-flex p-ai-center p-jc-between">
                Au total il y a {{customers ? customers.length : 0 }} produits.
              </div>
          </ng-template>
      </p-table>
  </div>
</div>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
