// #order-standard_cart .products .product header {
//     position: relative;
//     padding: 10px 20px;
//     margin: 0 1px;
//     background: #f8f8f8;
//     border-radius: 3px 3px 0 0;
// }
// #order-standard_cart .products .product header span {
//     margin: 0;
//     color: #333;
//     font-size: 1.2em;
// }
// #order-standard_cart .products .product {
//     padding: 1px 0 10px 0;
//     margin: 0 0 20px 0;
//     background: #fff;
//     border-radius: 3px;
//     border: 1px solid #ddd;
// }
// standard_cart .products .product div.product-desc {
//     float: left;
//     width: 60%;
//     padding: 8px 14px;
//     font-size: .8em;
// }
// p {
//     display: block;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
// }
// .row {
//     margin-right: -14px;
//     margin-left: -14px;
// }
// #order-standard_cart .products .product div.product-pricing {
//     margin-bottom: 10px;
// }
// .btn {
//     overflow: hidden;
// }
// .btn-group-sm>.btn, .btn-sm {
//     padding: 5px 10px;
//     font-size: 12px;
//     line-height: 1.5;
//     border-radius: 3px;
// }
// .btn-success {
//     color: #fff;
//     background-color: #5cb85c;
//     border-color: #4cae4c;
// }
// .btn {
//     display: inline-block;
//     margin-bottom: 0;
//     font-weight: 400;
//     text-align: center;
//     white-space: nowrap;
//     vertical-align: middle;
//     -ms-touch-action: manipulation;
//     touch-action: manipulation;
//     cursor: pointer;
//     background-image: none;
//     border: 1px solid transparent;
//     padding: 6px 12px;
//     font-size: 14px;
//     line-height: 1.42857143;
//     border-radius: 4px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }
// #order-standard_cart .products .product footer {
//     float: right;
//     margin: 20px 0;
//     width: 40%;
//     font-size: .8em;
//     text-align: center;
// }

.pricing-header {
    padding: 25px 10px;
}

.pricing-header {
    position: relative;
    background: transparent;
    padding: 10px 15px 20px;
}

.card.single-pricing-pack {
    border: 1px solid #e6e8ec;
}
.row {
    margin-right: -15px;
    width: 1216px;
    margin-left: 277px;
}
#order-standard_cart a, #order-standard_cart a:hover, #order-standard_cart a:active, #order-standard_cart a:visited, #order-standard_cart a:link {
    outline: none;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}
.outline-btn {
    position: relative;
    display: inline-block;
    color: #0073ec;
    border: 1px solid #0073ec;
    background: transparent;
}
.outline-btn, .secondary-solid-btn, .primary-solid-btn, .solid-white-btn, .outline-white-btn, .secondary-outline-btn, .danger-btn, .success-btn {
    padding: 12px 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    transition: all .25s ease-in-out;
}
.feature-badge span {
    width: 184px;
    height: 20px;
    line-height: 16px;
    position: absolute;
    top: 17px;
    right: -60px;
    z-index: 2;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 0 0 3px #0671ec, 0px 21px 5px -18px rgb(0 0 0 / 60%);
    background: #0372ec;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
}
.badge {
    display: inline;
    padding: 0.2rem 0.5rem;
    line-height: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 77%;
}
.single-pricing-pack footer {
    margin-top: auto;
    padding-bottom: 25px;
}
h3{
    color: #7c8088;
    strong{
        margin-right: 5px;
    }
}