<app-sidenavbar></app-sidenavbar>
<div class="products" style="margin-bottom: -197px;" id="products">
    <div class="row row-eq-height">
      <div class="col-lg-4 col-md-4 col-sm-6 col-4">
        <div
          class="products price-table card text-center single-pricing-pack"
          id="product24"
        >
          <header class="pricing-header">
            <h5 id="product24-name">Basic</h5>
            <div class="product-pricing" id="product24-price">
              <span class="price">19.99 TND</span>
              <p>Annuel</p>
            </div>
          </header>
          <div class="card-body">
            <ul class="list-unstyled pricing-feature-list">
              <li id="product24-description">
                <ul class="list-unstyled pricing-feature-list">
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Espace <strong>SSD</strong><span class="badge color-1 color-1-bg" style="background-color: #0948b3; color: white;" > <strong>Illimité</strong></span></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> CPU <strong>2 vCore</strong></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> RAM <strong>2 GB</strong></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> <strong>10</strong> mails PRO</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Bande passante<span class="badge color-1  color-1-bg" style="background: #0948b3;margin-left: 5px; color: white;">Illimité</span> </h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>5 base</strong> de données</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> domaine <strong>.tn</strong><span class="badge color-1  color-1-bg" style="background: #0948b3; color: white;">gratuit</span></h3><br>
                </ul>
              </li>
            </ul>
          </div>
          <footer>
            <a
              href="/store/web-hosting/economy"
              class="btn outline-btn"
              id="product24-order-button"
            >
              Commander Maitenant
            </a>
          </footer>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-4">
        <div
          class="products price-table card text-center single-pricing-pack popular-price"
          id="product25"
        >
          <header class="pricing-header">
            <h5 id="product25-name">Ecommerce</h5>
            <div class="feature-badge">
              <span class="badge">POPULAIRE</span>
            </div>
            <div class="product-pricing" id="product25-price">
              <span class="price">34 TND</span>
              <p>Annuel</p>
            </div>
          </header>
          <div class="card-body">
            <ul class="list-unstyled pricing-feature-list">
              <li id="product25-description">
                <ul class="list-unstyled pricing-feature-list">
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Espace <strong>SSD</strong><span class="badge color-1 color-1-bg" style="background-color: #0948b3; color: white;" > <strong>Illimité</strong></span></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> CPU <strong>3 vCore</strong></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> RAM <strong>3 GB</strong></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> <strong>20</strong> mails PRO</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Bande passante<span class="badge color-1  color-1-bg" style="background: #0948b3;margin-left: 5px; color: white;">Illimité</span> </h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>10 base</strong> de données</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> domaine <strong>.tn</strong><span class="badge color-1  color-1-bg" style="background: #0948b3; color: white;">gratuit</span></h3><br>
                </ul>
              </li>
            </ul>
          </div>
          <footer>
            <a
              href="/store/web-hosting/premium"
              class="btn primary-solid-btn"
              id="product25-order-button"
            >
            Commander Maitenant
            </a>
          </footer>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-4">
        <div
          class="products price-table card text-center single-pricing-pack"
          id="product26"
        >
          <header class="pricing-header">
            <h5 id="product26-name">professionnels</h5>
            <div class="product-pricing" id="product26-price">
              <span class="price">45 TND</span>
              <p>Anuuel</p>
            </div>
          </header>
          <div class="card-body">
            <ul class="list-unstyled pricing-feature-list">
              <li id="product26-description">
                <ul class="list-unstyled pricing-feature-list">
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Espace <strong>SSD</strong><span class="badge color-1 color-1-bg" style="background-color: #0948b3; color: white;" > <strong>Illimité</strong></span></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> CPU <strong>3 vCore</strong></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> RAM <strong>4 GB</strong></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> <strong>100</strong> mails PRO</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Bande passante<span class="badge color-1  color-1-bg" style="background: #0948b3;margin-left: 5px; color: white;">Illimité</span> </h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>15 base</strong> de données</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> domaine <strong>.tn</strong><span class="badge color-1  color-1-bg" style="background: #0948b3; color: white;">gratuit</span></h3><br>
                </ul>
              </li>
            </ul>
          </div>
          <footer>
            <a
              href="/store/web-hosting/ultimate"
              class="btn outline-btn"
              id="product26-order-button"
            >
            Commander Maitenant
            </a>
          </footer>
        </div>
      </div>
    </div>
  </div>
  

<!-- <div class="content-body">
    <section id="main-body">
    <div class="container">
    <div class="row">
    <div id="suggestions" class="col-md-12 pull-md-right"></div>
    
    <div class="col-xs-12 main-content">
    <link rel="stylesheet" type="text/css" href="/templates/orderforms/standard_cart/css/all.min.css?v=4a3244">
    <script type="text/javascript" src="/templates/orderforms/standard_cart/js/scripts.min.js?v=4a3244"></script>
    <div id="order-standard_cart">
    <div class="row">
    <div class="pull-md-right col-md-12">
    <div class="header-lined">
    <h1>
    Hébergement Web 2022
    </h1>
    </div>
    </div>
    <div class="col-md-9 pull-md-right">
    <div class="categories-collapsed visible-xs visible-sm clearfix">
    <div class="pull-left form-inline">
    <form method="get" action="/cart.php">
    <select name="gid" onchange="submit()" class="form-control">
    <optgroup label="Product Categories">
    <option value="31">Serveur Cloud 2022</option>
    <option value="35" selected="selected">Hébergement Web 2022</option>
    <option value="36">Revendeur 2020</option>
    <option value="45">Mailsuite</option>
    </optgroup>
    <optgroup label="Actions">
    <option value="addons">Produits additionnels</option>
    <option value="renewals">Renouveler un nom de domaine</option>
    <option value="registerdomain">Enregistrer un nom de domaine</option>
    <option value="transferdomain">Transférer un nom de domaine</option>
    <option value="viewcart">Afficher le panier</option>
    </optgroup>
    </select>
    </form>
    </div>
    </div>
    <div class="products" id="products">
    <div class="row row-eq-height">
    <div class="col-md-6">
    <div class="product clearfix" id="product1">
    <header>
    <span id="product1-name">E-commerce Eco 2022</span>
    </header>
    <div class="product-desc">
    <p id="product1-description">
    <strong>Espace disque illimité</strong><br>
    <strong>2 Go de Ram</strong><br>
    <strong>Nom de Domaine .tn Gratuit</strong><br>
    </p>
    <ul>
    </ul>
    </div>
    <footer>
    <div class="product-pricing" id="product1-price">
    À partir de
    <br>
    <span class="price">20.00TND</span>
    <br>
    Mensuel
    <br>
    </div>
    <a href="cart.php?a=add&amp;pid=118" class="btn btn-success btn-sm" id="product1-order-button">
    <i class="fas fa-shopping-cart"></i>
    Commander
    </a>
    </footer>
    </div>
    </div>
    <div class="col-md-6">
    <div class="product clearfix" id="product2">
    <header>
    <span id="product2-name">E-commerce Perf 2022</span>
    </header>
    <div class="product-desc">
    <p id="product2-description">
    <strong>Espace disque illimité</strong><br>
    <strong>8 Go de Ram</strong><br>
    <strong>2 Nom de Domaine Gratuit</strong><br>
    </p>
    <ul>
    </ul>
    </div>
    <footer>
    <div class="product-pricing" id="product2-price">
    À partir de
    <br>
    <span class="price">79.00TND</span>
    <br>
    Mensuel
    <br>
    </div>
    <a href="cart.php?a=add&amp;pid=121" class="btn btn-success btn-sm" id="product2-order-button">
    <i class="fas fa-shopping-cart"></i>
    Commander
     </a>
    </footer>
    </div>
    </div>
    </div>
    <div class="row row-eq-height">
    <div class="col-md-6">
    <div class="product clearfix" id="product3">
    <header>
    <span id="product3-name">E-commerce Pro 2022</span>
    </header>
    <div class="product-desc">
    <p id="product3-description">
    <strong>Espace disque illimité</strong><br>
    <strong>4 Go de Ram</strong><br>
    <strong>Nom de Domaine .tn Gratuit</strong><br>
    </p>
    <ul>
    </ul>
    </div>
    <footer>
    <div class="product-pricing" id="product3-price">
    À partir de
    <br>
    <span class="price">45.00TND</span>
    <br>
    Mensuel
    <br>
    </div>
    <a href="cart.php?a=add&amp;pid=120" class="btn btn-success btn-sm" id="product3-order-button">
    <i class="fas fa-shopping-cart"></i>
    Commander
    </a>
    </footer>
    </div>
    </div>
    <div class="col-md-6">
    <div class="product clearfix" id="product4">
    <header>
    <span id="product4-name">E-commerce Zen 2022</span>
    </header>
    <div class="product-desc">
    <p id="product4-description">
    <strong>Espace disque illimité</strong><br>
    <strong>3 Go de Ram</strong><br>
    <strong>Nom de Domaine .tn Gratuit</strong><br>
    </p>
    <ul>
    </ul>
    </div>
    <footer>
    <div class="product-pricing" id="product4-price">
    À partir de
    <br>
    <span class="price">35.00TND</span>
    <br>
    Mensuel
    <br>
     </div>
    <a href="cart.php?a=add&amp;pid=119" class="btn btn-success btn-sm" id="product4-order-button">
    <i class="fas fa-shopping-cart"></i>
    Commander
    </a>
    </footer>
    </div>
    </div>
    </div>
    <div class="row row-eq-height">
    <div class="col-md-6">
    <div class="product clearfix" id="product5">
    <header>
    <span id="product5-name">ECO 2022</span>
    </header>
    <div class="product-desc">
    <p id="product5-description">
    <strong>Espace disque 100 GB</strong><br>
    <strong>05 Adresse EMAIL</strong><br>
    <strong>Nom de Domaine .tn Gratuit</strong><br>
    </p>
    <ul>
    </ul>
    </div>
    <footer>
    <div class="product-pricing" id="product5-price">
    À partir de
    <br>
    <span class="price">4.03TND</span>
    <br>
    Mensuel
    <br>
    </div>
    <a href="cart.php?a=add&amp;pid=115" class="btn btn-success btn-sm" id="product5-order-button">
    <i class="fas fa-shopping-cart"></i>
    Commander
    </a>
    </footer>
    </div>
    </div>
    <div class="col-md-6">
    <div class="product clearfix" id="product6">
    <header>
    <span id="product6-name">PRO 2022</span>
    </header>
    <div class="product-desc">
    <p id="product6-description">
    <strong>Espace disque Illimité</strong><br>
    <strong>100 Adresse EMAIL</strong><br>
    <strong>Nom de Domaine .tn Gratuit</strong><br>
    </p>
    <ul>
    </ul>
    </div>
    <footer>
    <div class="product-pricing" id="product6-price">
    À partir de
     <br>
    <span class="price">16.08TND</span>
    <br>
    Mensuel
    <br>
    </div>
    <a href="cart.php?a=add&amp;pid=117" class="btn btn-success btn-sm" id="product6-order-button">
    <i class="fas fa-shopping-cart"></i>
    Commander
    </a>
    </footer>
    </div>
    </div>
    </div>
    <div class="row row-eq-height">
    <div class="col-md-6">
    <div class="product clearfix" id="product7">
    <header>
    <span id="product7-name">ZEN 2022</span>
    </header>
    <div class="product-desc">
    <p id="product7-description">
    <strong>Espace disque 200 GB</strong><br>
    <strong>10 Adresse EMAIL</strong><br>
    <strong>Nom de Domaine .tn Gratuit</strong><br>
    </p>
    <ul>
    </ul>
    </div>
    <footer>
    <div class="product-pricing" id="product7-price">
    À partir de
    <br>
    <span class="price">7.04TND</span>
    <br>
    Mensuel
    <br>
    </div>
    <a href="cart.php?a=add&amp;pid=116" class="btn btn-success btn-sm" id="product7-order-button">
    <i class="fas fa-shopping-cart"></i>
    Commander
    </a>
    </footer>
    </div>
    </div>
    <div class="col-md-6">
    <div class="product clearfix" id="product8">
    <header>
    <span id="product8-name">Entreprise 2022</span>
    </header>
    <div class="product-desc">
    <p id="product8-description">
    <strong>Espace disque Illimité</strong><br>
    <strong>100 Adresse EMAIL</strong><br>
    <strong>Nom de Domaine .tn Gratuit</strong><br>
    </p>
    <ul>
     </ul>
    </div>
    <footer>
    <div class="product-pricing" id="product8-price">
    À partir de
    <br>
    <span class="price">25.00TND</span>
    <br>
    Mensuel
    <br>
    </div>
    <a href="cart.php?a=add&amp;pid=145" class="btn btn-success btn-sm" id="product8-order-button">
    <i class="fas fa-shopping-cart"></i>
    Commander
    </a>
    </footer>
    </div>
    </div>
    </div>
    <div class="row row-eq-height">
    <div class="col-md-6">
    <div class="product clearfix" id="product9">
    <header>
    <span id="product9-name">domaine_2020</span>
    </header>
    <div class="product-desc">
    <ul>
    </ul>
    </div>
    <footer>
    <div class="product-pricing" id="product9-price">
    <span class="price">0.00TND</span>
    <br>
    <br>
    </div>
    <a href="cart.php?a=add&amp;pid=128" class="btn btn-success btn-sm" id="product9-order-button">
    <i class="fas fa-shopping-cart"></i>
    Commander
    </a>
    </footer>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-3 pull-md-left sidebar hidden-xs hidden-sm">
    <div menuitemname="Categories" class="panel panel-sidebar">
    <div class="panel-heading">
    <h3 class="panel-title">
    <i class="fas fa-shopping-cart"></i>&nbsp;
    Catégories
    <i class="fas fa-chevron-up panel-minimise pull-right"></i>
    </h3>
    </div>
    <div class="list-group">
    <a menuitemname="Addons" href="/cart.php?gid=addons" class="list-group-item" id="Secondary_Sidebar-Categories-Addons">
    Produits additionnels
    </a>
    <a menuitemname="Serveur Cloud 2022" href="/cart.php?gid=31" class="list-group-item" id="Secondary_Sidebar-Categories-Serveur_Cloud_2022">
    Serveur Cloud 2022
    </a>
    <a menuitemname="Hébergement Web 2022" href="/cart.php?gid=35" class="list-group-item active" id="Secondary_Sidebar-Categories-Hébergement_Web_2022">
    Hébergement Web 2022
    </a>
    <a menuitemname="Revendeur 2020" href="/cart.php?gid=36" class="list-group-item" id="Secondary_Sidebar-Categories-Revendeur_2020">
    Revendeur 2020
    </a>
    <a menuitemname="Mailsuite" href="/cart.php?gid=45" class="list-group-item" id="Secondary_Sidebar-Categories-Mailsuite">
    Mailsuite
    </a>
    </div>
    </div>
    <div menuitemname="Actions" class="panel panel-sidebar">
    <div class="panel-heading">
    <h3 class="panel-title">
    <i class="fas fa-plus"></i>&nbsp;
    Actions
    <i class="fas fa-chevron-up panel-minimise pull-right"></i>
    </h3>
    </div>
    <div class="list-group">
    <a menuitemname="Domain Renewals" href="/cart/domain/renew" class="list-group-item" id="Secondary_Sidebar-Actions-Domain_Renewals">
    <i class="fas fa-sync fa-fw"></i>&nbsp;
    Renouveler un nom de domaine
    </a>
    <a menuitemname="Domain Registration" href="/cart.php?a=add&amp;domain=register" class="list-group-item" id="Secondary_Sidebar-Actions-Domain_Registration">
    <i class="fas fa-globe fa-fw"></i>&nbsp;
    Enregistrer un nom de domaine
    </a>
    <a menuitemname="Domain Transfer" href="/cart.php?a=add&amp;domain=transfer" class="list-group-item" id="Secondary_Sidebar-Actions-Domain_Transfer">
    <i class="fas fa-share fa-fw"></i>&nbsp;
    Transférer un nom de domaine
    </a>
    <a menuitemname="View Cart" href="/cart.php?a=view" class="list-group-item" id="Secondary_Sidebar-Actions-View_Cart">
    <i class="fas fa-shopping-cart fa-fw"></i>&nbsp;
    Afficher le panier
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    </div>
    </section>
    </div> -->