<app-top></app-top>
<div class="products" style="margin-bottom: -197px;" id="products">
    <div class="row row-eq-height">
      <div class="col-lg-4 col-md-4 col-sm-6 col-4">
        <div
          class="products price-table card text-center single-pricing-pack"
          id="product24"
        >
          <header class="pricing-header">
            <h5 id="product24-name">Basic</h5>
            <div class="product-pricing" id="product24-price">
              <span class="price">19.99 TND</span>
              <p>Annuel</p>
            </div>
          </header>
          <div class="card-body">
            <ul class="list-unstyled pricing-feature-list">
              <li id="product24-description">
                <ul class="list-unstyled pricing-feature-list">
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Espace Disque: 100 Go</h3><br>
                  <!-- <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> CPU <strong>2 vCore</strong></h3><br> -->
                  <!-- <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> RAM <strong>2 GB</strong></h3><br> -->
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> <strong>10</strong> mails PRO</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Bande passante<span class="badge color-1  color-1-bg" style="background: #0948b3;margin-left: 5px; color: white;">Illimité</span> </h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>1 base</strong> de données</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>SSL</strong>:Non</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> domaine <strong>.tn</strong><span class="badge color-1  color-1-bg" style="background: #0948b3; color: white;">gratuit</span></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>Assistance</strong>:24/7</h3><br>

                </ul>
              </li>
            </ul>
          </div>
          <footer>
            <a
              href="/store/web-hosting/economy"
              class="btn outline-btn"
              id="product24-order-button"
            >
              Commander Maitenant
            </a>
          </footer>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-4">
        <div
          class="products price-table card text-center single-pricing-pack popular-price"
          id="product25"
        >
          <header class="pricing-header">
            <h5 id="product25-name">Ecommerce</h5>
            <div class="feature-badge">
              <span class="badge">POPULAIRE</span>
            </div>
            <div class="product-pricing" id="product25-price">
              <span class="price">34 TND</span>
              <p>Annuel</p>
            </div>
          </header>
          <div class="card-body">
            <ul class="list-unstyled pricing-feature-list">
              <li id="product25-description">
                <ul class="list-unstyled pricing-feature-list">
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Espace Disque: 200 Go</h3><br>
                  <!-- <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> CPU <strong>2 vCore</strong></h3><br> -->
                  <!-- <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> RAM <strong>2 GB</strong></h3><br> -->
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> <strong>100</strong> mails PRO</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Bande passante<span class="badge color-1  color-1-bg" style="background: #0948b3;margin-left: 5px; color: white;">Illimité</span> </h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>3 base</strong> de données</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>SSL</strong>:Oui</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> domaine <strong>.tn</strong><span class="badge color-1  color-1-bg" style="background: #0948b3; color: white;">gratuit</span></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>Assistance</strong>:24/7</h3><br>
                </ul>
              </li>
            </ul>
          </div>
          <footer>
            <a
              href="/store/web-hosting/premium"
              class="btn primary-solid-btn"
              id="product25-order-button"
            >
            Commander Maitenant
            </a>
          </footer>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-4">
        <div
          class="products price-table card text-center single-pricing-pack"
          id="product26"
        >
          <header class="pricing-header">
            <h5 id="product26-name">professionnels</h5>
            <div class="product-pricing" id="product26-price">
              <span class="price">45 TND</span>
              <p>Anuuel</p>
            </div>
          </header>
          <div class="card-body">
            <ul class="list-unstyled pricing-feature-list">
              <li id="product26-description">
                <ul class="list-unstyled pricing-feature-list">
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Espace Disque: Illimité</h3><br>
                  <!-- <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> CPU <strong>2 vCore</strong></h3><br> -->
                  <!-- <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> RAM <strong>2 GB</strong></h3><br> -->
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> <strong>1000</strong> mails PRO</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i>Bande passante<span class="badge color-1  color-1-bg" style="background: #0948b3;margin-left: 5px; color: white;">Illimité</span> </h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>5 base</strong> de données</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>SSL</strong>:Oui</h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i> domaine <strong>.tn</strong><span class="badge color-1  color-1-bg" style="background: #0948b3; color: white;">gratuit</span></h3><br>
                  <h3><i class="pi pi-check" style="font-size: 1rem;margin-right: 5px;" ></i><strong>Assistance</strong>:24/7</h3><br>
                </ul>
              </li>
            </ul>
          </div>
          <footer>
            <a
              href="/store/web-hosting/ultimate"
              class="btn outline-btn"
              id="product26-order-button"
            >
            Commander Maitenant
            </a>
          </footer>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>