<app-top></app-top>
<div class="products" style="margin-bottom: -197px;" id="products">
    <div class="row row-eq-height">
      <div class="col-lg-4 col-md-4 col-sm-6 col-4">
        <div
          class="products price-table card text-center single-pricing-pack"
          id="product24"
        >
          <header class="pricing-header">
            <h5 id="product24-name">Economy</h5>
            <div class="product-pricing" id="product24-price">
              <span class="price">$6.99 USD</span>
              <p>Monthly</p>
            </div>
          </header>
          <div class="card-body">
            <ul class="list-unstyled pricing-feature-list">
              <li id="product24-description">
                <ul class="list-unstyled pricing-feature-list">
                  <br />
                  <li><span>1</span> Website</li>
                  <br />
                  <li><span>10 GB</span> RAID Storage</li>
                  <br />
                  <li><span> Unlimited </span> Bandwidth</li>
                  <br />
                  <li><span>Free</span> SSL Certificate</li>
                  <br />
                  <li><span>Free Domain</span> Included</li>
                  <br />
                  <li><span>99.99%</span> Uptime</li>
                  <br />
                  <li><span>24/7</span> Phone Support</li>
                  <br />
                  <li>Free Site Backup &amp; Restore (Condition Apply)</li>
                  <br />
                </ul>
              </li>
            </ul>
          </div>
          <footer>
            <a
              href="/store/web-hosting/economy"
              class="btn outline-btn"
              id="product24-order-button"
            >
              Order Now
            </a>
          </footer>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-4">
        <div
          class="products price-table card text-center single-pricing-pack popular-price"
          id="product25"
        >
          <header class="pricing-header">
            <h5 id="product25-name">Premium</h5>
            <div class="feature-badge">
              <span class="badge">POPULAR</span>
            </div>
            <div class="product-pricing" id="product25-price">
              <span class="price">$9.99 USD</span>
              <p>Monthly</p>
            </div>
          </header>
          <div class="card-body">
            <ul class="list-unstyled pricing-feature-list">
              <li id="product25-description">
                <ul class="list-unstyled pricing-feature-list">
                  <br />
                  <li><span>10</span> Websites</li>
                  <br />
                  <li><span>Unlimited</span> RAID Storage</li>
                  <br />
                  <li><span> Unlimited </span> Bandwidth</li>
                  <br />
                  <li><span>Free</span> SSL Certificate</li>
                  <br />
                  <li><span>Free Domain</span> Included</li>
                  <br />
                  <li><span>99.99%</span> Uptime</li>
                  <br />
                  <li><span>24/7</span> Phone Support</li>
                  <br />
                  <li>Free Site Backup &amp; Restore (Condition Apply)</li>
                  <br />
                </ul>
              </li>
            </ul>
          </div>
          <footer>
            <a
              href="/store/web-hosting/premium"
              class="btn primary-solid-btn"
              id="product25-order-button"
            >
              Order Now
            </a>
          </footer>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-4">
        <div
          class="products price-table card text-center single-pricing-pack"
          id="product26"
        >
          <header class="pricing-header">
            <h5 id="product26-name">Ultimate</h5>
            <div class="product-pricing" id="product26-price">
              <span class="price">$16.99 USD</span>
              <p>Monthly</p>
            </div>
          </header>
          <div class="card-body">
            <ul class="list-unstyled pricing-feature-list">
              <li id="product26-description">
                <ul class="list-unstyled pricing-feature-list">
                  <br />
                  <li><span>Unlimited</span> Websites</li>
                  <br />
                  <li><span>Unlimited</span> RAID Storage</li>
                  <br />
                  <li><span> Unlimited </span> Bandwidth</li>
                  <br />
                  <li><span>Free</span> SSL Certificate</li>
                  <br />
                  <li><span>Free Domain</span> Included</li>
                  <br />
                  <li><span>99.99%</span> Uptime</li>
                  <br />
                  <li><span>24/7</span> Phone Support</li>
                  <br />
                  <li>Free Site Backup &amp; Restore (Condition Apply)</li>
                  <br />
                </ul>
              </li>
            </ul>
          </div>
          <footer>
            <a
              href="/store/web-hosting/ultimate"
              class="btn outline-btn"
              id="product26-order-button"
            >
              Order Now
            </a>
          </footer>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>