
<app-header></app-header>
<section class="ptb-120 gradient-bg">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-7 col-lg-6">
                <div class="hero-content-wrap text-white">
                    <h1 class="text-white">Windows VPS Server Hosting Up to 50% OFF</h1>
                    <p class="lead">Web hosting made easy &amp; affordable, hosting services solution for successful personal and business websites.</p>
                    <a href="#" class="btn btn-brand-03 btn-lg">Get Start Now</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-5">
                <div class="big-price-wrap position-relative">
                    <div class="price-block d-flex justify-content-center text-white">
                        <span class="price-currency">$</span>
                        <div class="offer-price">5</div>
                        <div class="right-block d-flex">
                            <span class="cent-value">.99</span>
                            <span class="per-value">/mo</span>
                        </div>
                    </div>
                    <span class="d-block text-white regular-price text-center">Regular Price <strong>$10.99</strong> *</span>
                </div>
            </div>
        </div>
    </div>
</section>
